## Question 14-15

In [1]:
import pandas as pd
import os
import mysql.connector
import numpy as sp
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
july1=pd.read_csv('/Users/Asus/Documents/InternCsv/Dispatch_header.csv')
july1.head(5)

,Unnamed: 0,Actual System Dispatch,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,7/1/2020 0:00,...,Unnamed: 90,Unnamed: 91,Unnamed: 92,Unnamed: 93,Unnamed: 94,Unnamed: 95,Unnamed: 96,Unnamed: 97,Unnamed: 98,Unnamed: 99
0,0,Time,0:15:00,0:30:00,0:45,1:00,1:15,1:30,1:45,2:00,...,22:30,22:45,23:00,23:15,23:30,23:45,0:00,Energy/(MWh) *,NaN,NaN
1,1,Canyon,10,10,10,10,10,10,10,10,...,30,30,0,0,0,0,0,425,NaN,NaN
2,2,WPS,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,204,NaN,NaN
3,3,Olax,5,5,5,5,5,5,5,5,...,14,14,14,14,14,14,14,666,NaN,NaN
4,4,Nlax,46,45,19,20,19,15,9,10,...,29,27,44,39,37,37,17,1502,NaN,NaN

In [3]:
july3=july1.iloc[0:1,2:95]
july3.head(5)

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,7/1/2020 0:00,Unnamed: 9,Unnamed: 10,...,Unnamed: 84,Unnamed: 85,Unnamed: 86,Unnamed: 87,Unnamed: 88,Unnamed: 89,Unnamed: 90,Unnamed: 91,Unnamed: 92,Unnamed: 93
0,0:15:00,0:30:00,0:45,1:00,1:15,1:30,1:45,2:00,2:15,2:30,...,21:00,21:15,21:30,21:45,22:00,22:15,22:30,22:45,23:00,23:15

In [4]:
july3.isna().sum()

Unnamed: 1     0
Unnamed: 2     0
Unnamed: 3     0
Unnamed: 4     0
Unnamed: 5     0
              ..
Unnamed: 89    0
Unnamed: 90    0
Unnamed: 91    0
Unnamed: 92    0
Unnamed: 93    0
Length: 93, dtype: int64

In [5]:
#Changing the Date-Time Format
#pd.to_datetime(july1.iloc[0:1,2:95])
july2=july1.iloc[0:1,2:95].astype('datetime64[s]')
july2

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,7/1/2020 0:00,Unnamed: 9,Unnamed: 10,...,Unnamed: 84,Unnamed: 85,Unnamed: 86,Unnamed: 87,Unnamed: 88,Unnamed: 89,Unnamed: 90,Unnamed: 91,Unnamed: 92,Unnamed: 93
0,2021-10-05 00:15:00,2021-10-05 00:30:00,2021-10-05 00:45:00,2021-10-05 01:00:00,2021-10-05 01:15:00,2021-10-05 01:30:00,2021-10-05 01:45:00,2021-10-05 02:00:00,2021-10-05 02:15:00,2021-10-05 02:30:00,...,2021-10-05 21:00:00,2021-10-05 21:15:00,2021-10-05 21:30:00,2021-10-05 21:45:00,2021-10-05 22:00:00,2021-10-05 22:15:00,2021-10-05 22:30:00,2021-10-05 22:45:00,2021-10-05 23:00:00,2021-10-05 23:15:00

## Question 16

In [6]:
from datetime import datetime
from dateutil.relativedelta import relativedelta

In [7]:
past_date = july2 - pd.DateOffset(months=1)
print('Past Date: ', past_date)

Past Date:             Unnamed: 1          Unnamed: 2          Unnamed: 3  \
0 2021-09-05 00:15:00 2021-09-05 00:30:00 2021-09-05 00:45:00

           Unnamed: 4          Unnamed: 5          Unnamed: 6  \
0 2021-09-05 01:00:00 2021-09-05 01:15:00 2021-09-05 01:30:00

           Unnamed: 7       7/1/2020 0:00          Unnamed: 9  \
0 2021-09-05 01:45:00 2021-09-05 02:00:00 2021-09-05 02:15:00

          Unnamed: 10  ...         Unnamed: 84         Unnamed: 85  \
0 2021-09-05 02:30:00  ... 2021-09-05 21:00:00 2021-09-05 21:15:00

          Unnamed: 86         Unnamed: 87         Unnamed: 88  \
0 2021-09-05 21:30:00 2021-09-05 21:45:00 2021-09-05 22:00:00

          Unnamed: 89         Unnamed: 90         Unnamed: 91  \
0 2021-09-05 22:15:00 2021-09-05 22:30:00 2021-09-05 22:45:00

          Unnamed: 92         Unnamed: 93
0 2021-09-05 23:00:00 2021-09-05 23:15:00

[1 rows x 93 columns]

## Question 18 (Join Table)

In [8]:
jul1=pd.read_excel('/Users/Asus/Documents/InternCsv/forcast_july/july3.xls',index_col=None)
jul2=pd.read_excel('/Users/Asus/Documents/InternCsv/forcast_july/july4.xls',index_col=None)

In [11]:
jul1.drop(july1.iloc[:, 50:147], inplace = True, axis = 1)
#jul2.drop(july1.iloc[:, 50:147], inplace = True, axis = 1)
jul1.head(10)

,3. Day Ahead Economic Dispatch for next day in MW,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 138,Unnamed: 139,Unnamed: 140,Unnamed: 141,Unnamed: 142,Unnamed: 143,Unnamed: 144,Unnamed: 145,Unnamed: 146,Unnamed: 147
0,Date,2020-07-03 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,00:00:00,00:30:00,01:00:00,01:30:00,02:00:00,02:30:00,03:00:00,03:30:00,04:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,WPS,23.388,10,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Victoria
3,Cany,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Kothmale
4,Olax,10,10,10,10,10,10,10,10,10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Samanalawewa
5,Nlax,19.92,19.92,19.92,19.92,19.92,19.92,19.92,19.92,19.92,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Laxapana
6,Polp,21.722,6.1039,6.1039,6.1039,6.1039,6.1039,6.1039,6.1039,6.1039,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Up Koth
7,UKPS,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,KCCP GT
8,Koth,40,40,40,40,40,40,40,40,40,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,KCCP
9,Victoria,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
jul2.head(10)

,3. Day Ahead Economic Dispatch for next day in MW,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 138,Unnamed: 139,Unnamed: 140,Unnamed: 141,Unnamed: 142,Unnamed: 143,Unnamed: 144,Unnamed: 145,Unnamed: 146,Unnamed: 147
0,Date,2020-07-04 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,00:00:00,00:30:00,01:00:00,01:30:00,02:00:00,02:30:00,03:00:00,03:30:00,04:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,WPS,22.96,22.96,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Victoria
3,Cany,11.04,11.04,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Kothmale
4,Olax,10,10,10,10,10,10,10,10,10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Samanalawewa
5,Nlax,22.388,22.388,22.388,19.92,19.92,19.92,19.92,19.92,19.92,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Laxapana
6,Polp,18.613,17.613,17.613,6.1039,6.1039,6.1039,6.1039,6.1039,6.1039,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Up Koth
7,UKPS,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,KCCP GT
8,Koth,40,40,40,40,40,58.9,58.45,58.05,58.25,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,KCCP
9,Victoria,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
jul3=pd.concat([jul1, jul2.reindex(jul1.index)], axis=1)
jul3.head(10)

,3. Day Ahead Economic Dispatch for next day in MW,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 138,Unnamed: 139,Unnamed: 140,Unnamed: 141,Unnamed: 142,Unnamed: 143,Unnamed: 144,Unnamed: 145,Unnamed: 146,Unnamed: 147
0,Date,2020-07-03 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,00:00:00,00:30:00,01:00:00,01:30:00,02:00:00,02:30:00,03:00:00,03:30:00,04:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,WPS,23.388,10,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Victoria
3,Cany,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Kothmale
4,Olax,10,10,10,10,10,10,10,10,10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Samanalawewa
5,Nlax,19.92,19.92,19.92,19.92,19.92,19.92,19.92,19.92,19.92,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Laxapana
6,Polp,21.722,6.1039,6.1039,6.1039,6.1039,6.1039,6.1039,6.1039,6.1039,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Up Koth
7,UKPS,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,KCCP GT
8,Koth,40,40,40,40,40,40,40,40,40,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,KCCP
9,Victoria,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
jul3.fillna(0,inplace=True)
jul3.head(30)

,3. Day Ahead Economic Dispatch for next day in MW,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 138,Unnamed: 139,Unnamed: 140,Unnamed: 141,Unnamed: 142,Unnamed: 143,Unnamed: 144,Unnamed: 145,Unnamed: 146,Unnamed: 147
0,Date,2020-07-03 00:00:00,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
1,0,00:00:00,00:30:00,01:00:00,01:30:00,02:00:00,02:30:00,03:00:00,03:30:00,04:00:00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
2,WPS,23.388,10,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Victoria
3,Cany,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Kothmale
4,Olax,10,10,10,10,10,10,10,10,10,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Samanalawewa
5,Nlax,19.92,19.92,19.92,19.92,19.92,19.92,19.92,19.92,19.92,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Laxapana
6,Polp,21.722,6.1039,6.1039,6.1039,6.1039,6.1039,6.1039,6.1039,6.1039,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Up Koth
7,UKPS,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,KCCP GT
8,Koth,40,40,40,40,40,40,40,40,40,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,KCCP
9,Victoria,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
10,Rand,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
11,Rant,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
12,Uku,40,40,40,40,40,40,40,40,40,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
13,Bowa,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
14,Sama,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
15,Kukule,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
16,PCCP I,270,270,270,270,270,270,270,270,270,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
17,PCCP II,270,270,270,270,270,270,270,270,270,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
18,PCCP III,229,259,270,270,270,270,270,270,270,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
19,KPS,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
20,CEB_EMERGENCY,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
21,GT 07,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
22,SPS A,54,54,54,33,33,33,33,33,33,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
23,SPS B,63,63,63,63,49,49,49,49,63,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
24,Asia Power,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
25,Barge,60,60,60,35.516,34,34,34,34,35.516,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
26,ACE (Matara),0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
27,Ace (Embilipitiya),66.97,31.46,31.46,31.46,31.46,31.46,31.46,31.46,31.46,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
28,NORTHERN_Power,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
29,Uthuru_Janani,20,15.516,13.516,4,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0

In [16]:
out=pd.merge(jul1, jul2, on="Unnamed: 1", how="outer")
out.fillna(0,inplace=True)

In [17]:
out

,3. Day Ahead Economic Dispatch for next day in MW_x,Unnamed: 1,Unnamed: 2_x,Unnamed: 3_x,Unnamed: 4_x,Unnamed: 5_x,Unnamed: 6_x,Unnamed: 7_x,Unnamed: 8_x,Unnamed: 9_x,...,Unnamed: 138_y,Unnamed: 139_y,Unnamed: 140_y,Unnamed: 141_y,Unnamed: 142_y,Unnamed: 143_y,Unnamed: 144_y,Unnamed: 145_y,Unnamed: 146_y,Unnamed: 147_y
0,Date,2020-07-03 00:00:00,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
1,0,2020-07-03 00:00:00,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
2,0,00:00:00,00:30:00,01:00:00,01:30:00,02:00:00,02:30:00,03:00:00,03:30:00,04:00:00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
3,WPS,23.388,10,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
4,Cany,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,KCCP GT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1004,0,120,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
1005,0,34.625995,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
1006,0,10.775516,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
1007,0,21.267979,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
1008,0,2.5825,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0

In [20]:
left=pd.merge(jul1, jul2, on="Unnamed: 1", how="left")
left.fillna(0,inplace=True)
left.head(10)

,3. Day Ahead Economic Dispatch for next day in MW_x,Unnamed: 1,Unnamed: 2_x,Unnamed: 3_x,Unnamed: 4_x,Unnamed: 5_x,Unnamed: 6_x,Unnamed: 7_x,Unnamed: 8_x,Unnamed: 9_x,...,Unnamed: 138_y,Unnamed: 139_y,Unnamed: 140_y,Unnamed: 141_y,Unnamed: 142_y,Unnamed: 143_y,Unnamed: 144_y,Unnamed: 145_y,Unnamed: 146_y,Unnamed: 147_y
0,Date,2020-07-03 00:00:00,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
1,0,00:00:00,00:30:00,01:00:00,01:30:00,02:00:00,02:30:00,03:00:00,03:30:00,04:00:00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
2,WPS,23.388,10,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
3,Cany,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,KCCP GT
4,Cany,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
5,Cany,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
6,Cany,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
7,Cany,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
8,Cany,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
9,Cany,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0

In [21]:
right=pd.merge(jul1, jul2, on="Unnamed: 1", how="right")
right.fillna(0,inplace=True)
right.head(10)

,3. Day Ahead Economic Dispatch for next day in MW_x,Unnamed: 1,Unnamed: 2_x,Unnamed: 3_x,Unnamed: 4_x,Unnamed: 5_x,Unnamed: 6_x,Unnamed: 7_x,Unnamed: 8_x,Unnamed: 9_x,...,Unnamed: 138_y,Unnamed: 139_y,Unnamed: 140_y,Unnamed: 141_y,Unnamed: 142_y,Unnamed: 143_y,Unnamed: 144_y,Unnamed: 145_y,Unnamed: 146_y,Unnamed: 147_y
0,0,2020-07-04 00:00:00,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
1,0,00:00:00,00:30:00,01:00:00,01:30:00,02:00:00,02:30:00,03:00:00,03:30:00,04:00:00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
2,0,22.96,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Victoria
3,0,11.04,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Kothmale
4,Olax,10,10,10,10,10,10,10,10,10,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Samanalawewa
5,0,22.388,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Laxapana
6,0,18.613,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Up Koth
7,Cany,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,KCCP GT
8,UKPS,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,KCCP GT
9,Victoria,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,KCCP GT

In [24]:
inner=pd.merge(jul1, jul2, on="Unnamed: 1", how="inner")
inner.fillna(0,inplace=True)
inner.head(50)

,3. Day Ahead Economic Dispatch for next day in MW_x,Unnamed: 1,Unnamed: 2_x,Unnamed: 3_x,Unnamed: 4_x,Unnamed: 5_x,Unnamed: 6_x,Unnamed: 7_x,Unnamed: 8_x,Unnamed: 9_x,...,Unnamed: 138_y,Unnamed: 139_y,Unnamed: 140_y,Unnamed: 141_y,Unnamed: 142_y,Unnamed: 143_y,Unnamed: 144_y,Unnamed: 145_y,Unnamed: 146_y,Unnamed: 147_y
0,0,00:00:00,00:30:00,01:00:00,01:30:00,02:00:00,02:30:00,03:00:00,03:30:00,04:00:00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
1,Cany,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,KCCP GT
2,Cany,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
3,Cany,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
4,Cany,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
5,Cany,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
6,Cany,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
7,Cany,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
8,Cany,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
9,Cany,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
10,Cany,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
11,Cany,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
12,Cany,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
13,Cany,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
14,Cany,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
15,Cany,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
16,Cany,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
17,Cany,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
18,Cany,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
19,Cany,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
20,Cany,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
21,Cany,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
22,Cany,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
23,Cany,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
24,Cany,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
25,Cany,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
26,Cany,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
27,Cany,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
28,Cany,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
29,UKPS,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,KCCP GT
30,UKPS,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
31,UKPS,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
32,UKPS,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
33,UKPS,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
34,UKPS,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
35,UKPS,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
36,UKPS,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
37,UKPS,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
38,UKPS,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
39,UKPS,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
40,UKPS,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
41,UKPS,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
42,UKPS,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
43,UKPS,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
44,UKPS,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
45,UKPS,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
46,UKPS,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
47,UKPS,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
48,UKPS,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
49,UKPS,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0

In [25]:
inner.shape

(971, 193)

In [49]:
#Union Dataframe
pd.concat([jul1,jul2], ignore_index=True)

,3. Day Ahead Economic Dispatch for next day in MW,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 138,Unnamed: 139,Unnamed: 140,Unnamed: 141,Unnamed: 142,Unnamed: 143,Unnamed: 144,Unnamed: 145,Unnamed: 146,Unnamed: 147
0,Date,2020-07-03 00:00:00,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
1,0,00:00:00,00:30:00,01:00:00,01:30:00,02:00:00,02:30:00,03:00:00,03:30:00,04:00:00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
2,WPS,23.388,10,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Victoria
3,Cany,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Kothmale
4,Olax,10,10,10,10,10,10,10,10,10,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Samanalawewa
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
141,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
142,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
143,3. Other water Releases,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
144,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
145,4. Other,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [51]:
JulMerge=jul1.merge(jul2, how='cross')
JulMerge.head(20)

,3. Day Ahead Economic Dispatch for next day in MW_x,Unnamed: 1_x,Unnamed: 2_x,Unnamed: 3_x,Unnamed: 4_x,Unnamed: 5_x,Unnamed: 6_x,Unnamed: 7_x,Unnamed: 8_x,Unnamed: 9_x,...,Unnamed: 138_y,Unnamed: 139_y,Unnamed: 140_y,Unnamed: 141_y,Unnamed: 142_y,Unnamed: 143_y,Unnamed: 144_y,Unnamed: 145_y,Unnamed: 146_y,Unnamed: 147_y
0,Date,2020-07-03 00:00:00,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Date,2020-07-03 00:00:00,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Date,2020-07-03 00:00:00,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Victoria
3,Date,2020-07-03 00:00:00,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Kothmale
4,Date,2020-07-03 00:00:00,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Samanalawewa
5,Date,2020-07-03 00:00:00,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Laxapana
6,Date,2020-07-03 00:00:00,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Up Koth
7,Date,2020-07-03 00:00:00,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,KCCP GT
8,Date,2020-07-03 00:00:00,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,KCCP
9,Date,2020-07-03 00:00:00,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Date,2020-07-03 00:00:00,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Date,2020-07-03 00:00:00,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Date,2020-07-03 00:00:00,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Date,2020-07-03 00:00:00,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Date,2020-07-03 00:00:00,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Date,2020-07-03 00:00:00,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Date,2020-07-03 00:00:00,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Date,2020-07-03 00:00:00,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Date,2020-07-03 00:00:00,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,Date,2020-07-03 00:00:00,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Pyspark (Question 18-20)

In [26]:
#Testing Pyspark Installation
import findspark

findspark.init()
findspark.find()

import pyspark
findspark.find()

'C:\\spark'

In [37]:
#intialize Spark Context
from pyspark import SparkContext, SparkConf
from pyspark.sql import SparkSession
spark= SparkSession.builder.appName('Intern').getOrCreate()
spark

In [39]:
inter=spark.read.csv('/Users/Asus/Documents/InternCsv/Dispatch_headerNew.csv')

In [35]:
inter.head(6)

,3. Day Ahead Economic Dispatch for next day in MW,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 138,Unnamed: 139,Unnamed: 140,Unnamed: 141,Unnamed: 142,Unnamed: 143,Unnamed: 144,Unnamed: 145,Unnamed: 146,Unnamed: 147
0,Date,2020-07-03 00:00:00,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
1,0,00:00:00,00:30:00,01:00:00,01:30:00,02:00:00,02:30:00,03:00:00,03:30:00,04:00:00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
2,WPS,23.388,10,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Victoria
3,Cany,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Kothmale
4,Olax,10,10,10,10,10,10,10,10,10,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Samanalawewa
5,Nlax,19.92,19.92,19.92,19.92,19.92,19.92,19.92,19.92,19.92,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Laxapana

In [42]:
sal=spark.read.option('header','true').csv('/Users/Asus/Documents/InternCsv/Dispatch_headerNew.csv')

In [44]:
sal.dtypes

[('_c0', 'string'),
 ('Time_TimeUnnamed: 0', 'string'),
 ('Time_TimeActual System Dispatch', 'string'),
 ('Time_TimeCourses_List', 'string'),
 ('Time_TimeInitial Time', 'string'),
 ('Time_TimeUnnamed: 3', 'string'),
 ('Time_TimeUnnamed: 4', 'string'),
 ('Time_TimeUnnamed: 5', 'string'),
 ('Time_TimeUnnamed: 6', 'string'),
 ('Time_TimeUnnamed: 7', 'string'),
 ('Time_Time7/1/2020 0:00', 'string'),
 ('Time_TimeUnnamed: 9', 'string'),
 ('Time_TimeUnnamed: 10', 'string'),
 ('Time_TimeUnnamed: 11', 'string'),
 ('Time_TimeUnnamed: 12', 'string'),
 ('Time_TimeUnnamed: 13', 'string'),
 ('Time_TimeUnnamed: 14', 'string'),
 ('Time_TimeUnnamed: 15', 'string'),
 ('Time_TimeUnnamed: 16', 'string'),
 ('Time_TimeUnnamed: 17', 'string'),
 ('Time_TimeUnnamed: 18', 'string'),
 ('Time_TimeUnnamed: 19', 'string'),
 ('Time_TimeUnnamed: 20', 'string'),
 ('Time_TimeUnnamed: 21', 'string'),
 ('Time_TimeUnnamed: 22', 'string'),
 ('Time_TimeUnnamed: 23', 'string'),
 ('Time_TimeUnnamed: 24', 'string'),
 ('Time_TimeUnnamed: 25', 'string'),
 ('Time_TimeUnnamed: 26', 'string'),
 ('Time_TimeUnnamed: 27', 'string'),
 ('Time_TimeUnnamed: 28', 'string'),
 ('Time_TimeUnnamed: 29', 'string'),
 ('Time_TimeUnnamed: 30', 'string'),
 ('Time_TimeUnnamed: 31', 'string'),
 ('Time_TimeUnnamed: 32', 'string'),
 ('Time_TimeUnnamed: 33', 'string'),
 ('Time_TimeUnnamed: 34', 'string'),
 ('Time_TimeUnnamed: 35', 'string'),
 ('Time_TimeUnnamed: 36', 'string'),
 ('Time_TimeUnnamed: 37', 'string'),
 ('Time_TimeUnnamed: 38', 'string'),
 ('Time_TimeUnnamed: 39', 'string'),
 ('Time_TimeUnnamed: 40', 'string'),
 ('Time_TimeUnnamed: 41', 'string'),
 ('Time_TimeUnnamed: 42', 'string'),
 ('Time_TimeUnnamed: 43', 'string'),
 ('Time_TimeUnnamed: 44', 'string'),
 ('Time_TimeUnnamed: 45', 'string'),
 ('Time_TimeUnnamed: 46', 'string'),
 ('Time_TimeUnnamed: 47', 'string'),
 ('Time_TimeUnnamed: 48', 'string'),
 ('Time_TimeUnnamed: 49', 'string'),
 ('Time_TimeUnnamed: 50', 'string'),
 ('Time_TimeUnnamed: 51', 'string'),
 ('Time_TimeUnnamed: 52', 'string'),
 ('Time_TimeUnnamed: 53', 'string'),
 ('Time_TimeUnnamed: 54', 'string'),
 ('Time_TimeUnnamed: 55', 'string'),
 ('Time_TimeUnnamed: 56', 'string'),
 ('Time_TimeUnnamed: 57', 'string'),
 ('Time_TimeUnnamed: 58', 'string'),
 ('Time_TimeUnnamed: 59', 'string'),
 ('Time_TimeUnnamed: 60', 'string'),
 ('Time_TimeUnnamed: 61', 'string'),
 ('Time_TimeUnnamed: 62', 'string'),
 ('Time_TimeUnnamed: 63', 'string'),
 ('Time_TimeUnnamed: 64', 'string'),
 ('Time_TimeUnnamed: 65', 'string'),
 ('Time_TimeUnnamed: 66', 'string'),
 ('Time_TimeUnnamed: 67', 'string'),
 ('Time_TimeUnnamed: 68', 'string'),
 ('Time_TimeUnnamed: 69', 'string'),
 ('Time_TimeUnnamed: 70', 'string'),
 ('Time_TimeUnnamed: 71', 'string'),
 ('Time_TimeUnnamed: 72', 'string'),
 ('Time_TimeUnnamed: 73', 'string'),
 ('Time_TimeUnnamed: 74', 'string'),
 ('Time_TimeUnnamed: 75', 'string'),
 ('Time_TimeUnnamed: 76', 'string'),
 ('Time_TimeUnnamed: 77', 'string'),
 ('Time_TimeUnnamed: 78', 'string'),
 ('Time_TimeUnnamed: 79', 'string'),
 ('Time_TimeUnnamed: 80', 'string'),
 ('Time_TimeUnnamed: 81', 'string'),
 ('Time_TimeUnnamed: 82', 'string'),
 ('Time_TimeUnnamed: 83', 'string'),
 ('Time_TimeUnnamed: 84', 'string'),
 ('Time_TimeUnnamed: 85', 'string'),
 ('Time_TimeUnnamed: 86', 'string'),
 ('Time_TimeUnnamed: 87', 'string'),
 ('Time_TimeUnnamed: 88', 'string'),
 ('Time_TimeUnnamed: 89', 'string'),
 ('Time_TimeUnnamed: 90', 'string'),
 ('Time_TimeUnnamed: 91', 'string'),
 ('Time_TimeUnnamed: 92', 'string'),
 ('Time_TimeUnnamed: 93', 'string'),
 ('Time_TimeUnnamed: 94', 'string'),
 ('Time_TimeUnnamed: 95', 'string'),
 ('Time_TimeUnnamed: 96', 'string'),
 ('Time_TimeUnnamed: 97', 'string')]

In [46]:
sal = sal.withColumnRenamed("Time_TimeUnnamed: 3","Starting Time") \
    .withColumnRenamed("Time_TimeUnnamed: 4","Appointing Time")
sal.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- Time_TimeUnnamed: 0: string (nullable = true)
 |-- Time_TimeActual System Dispatch: string (nullable = true)
 |-- Time_TimeCourses_List: string (nullable = true)
 |-- Time_TimeInitial Time: string (nullable = true)
 |-- Starting Time: string (nullable = true)
 |-- Appointing Time: string (nullable = true)
 |-- Time_TimeUnnamed: 5: string (nullable = true)
 |-- Time_TimeUnnamed: 6: string (nullable = true)
 |-- Time_TimeUnnamed: 7: string (nullable = true)
 |-- Time_Time7/1/2020 0:00: string (nullable = true)
 |-- Time_TimeUnnamed: 9: string (nullable = true)
 |-- Time_TimeUnnamed: 10: string (nullable = true)
 |-- Time_TimeUnnamed: 11: string (nullable = true)
 |-- Time_TimeUnnamed: 12: string (nullable = true)
 |-- Time_TimeUnnamed: 13: string (nullable = true)
 |-- Time_TimeUnnamed: 14: string (nullable = true)
 |-- Time_TimeUnnamed: 15: string (nullable = true)
 |-- Time_TimeUnnamed: 16: string (nullable = true)
 |-- Time_TimeUnnamed: 17: string (nullable = true)
 |-- Time_TimeUnnamed: 18: string (nullable = true)
 |-- Time_TimeUnnamed: 19: string (nullable = true)
 |-- Time_TimeUnnamed: 20: string (nullable = true)
 |-- Time_TimeUnnamed: 21: string (nullable = true)
 |-- Time_TimeUnnamed: 22: string (nullable = true)
 |-- Time_TimeUnnamed: 23: string (nullable = true)
 |-- Time_TimeUnnamed: 24: string (nullable = true)
 |-- Time_TimeUnnamed: 25: string (nullable = true)
 |-- Time_TimeUnnamed: 26: string (nullable = true)
 |-- Time_TimeUnnamed: 27: string (nullable = true)
 |-- Time_TimeUnnamed: 28: string (nullable = true)
 |-- Time_TimeUnnamed: 29: string (nullable = true)
 |-- Time_TimeUnnamed: 30: string (nullable = true)
 |-- Time_TimeUnnamed: 31: string (nullable = true)
 |-- Time_TimeUnnamed: 32: string (nullable = true)
 |-- Time_TimeUnnamed: 33: string (nullable = true)
 |-- Time_TimeUnnamed: 34: string (nullable = true)
 |-- Time_TimeUnnamed: 35: string (nullable = true)
 |-- Time_TimeUnnamed: 36: string (nullable = true)
 |-- Time_TimeUnnamed: 37: string (nullable = true)
 |-- Time_TimeUnnamed: 38: string (nullable = true)
 |-- Time_TimeUnnamed: 39: string (nullable = true)
 |-- Time_TimeUnnamed: 40: string (nullable = true)
 |-- Time_TimeUnnamed: 41: string (nullable = true)
 |-- Time_TimeUnnamed: 42: string (nullable = true)
 |-- Time_TimeUnnamed: 43: string (nullable = true)
 |-- Time_TimeUnnamed: 44: string (nullable = true)
 |-- Time_TimeUnnamed: 45: string (nullable = true)
 |-- Time_TimeUnnamed: 46: string (nullable = true)
 |-- Time_TimeUnnamed: 47: string (nullable = true)
 |-- Time_TimeUnnamed: 48: string (nullable = true)
 |-- Time_TimeUnnamed: 49: string (nullable = true)
 |-- Time_TimeUnnamed: 50: string (nullable = true)
 |-- Time_TimeUnnamed: 51: string (nullable = true)
 |-- Time_TimeUnnamed: 52: string (nullable = true)
 |-- Time_TimeUnnamed: 53: string (nullable = true)
 |-- Time_TimeUnnamed: 54: string (nullable = true)
 |-- Time_TimeUnnamed: 55: string (nullable = true)
 |-- Time_TimeUnnamed: 56: string (nullable = true)
 |-- Time_TimeUnnamed: 57: string (nullable = true)
 |-- Time_TimeUnnamed: 58: string (nullable = true)
 |-- Time_TimeUnnamed: 59: string (nullable = true)
 |-- Time_TimeUnnamed: 60: string (nullable = true)
 |-- Time_TimeUnnamed: 61: string (nullable = true)
 |-- Time_TimeUnnamed: 62: string (nullable = true)
 |-- Time_TimeUnnamed: 63: string (nullable = true)
 |-- Time_TimeUnnamed: 64: string (nullable = true)
 |-- Time_TimeUnnamed: 65: string (nullable = true)
 |-- Time_TimeUnnamed: 66: string (nullable = true)
 |-- Time_TimeUnnamed: 67: string (nullable = true)
 |-- Time_TimeUnnamed: 68: string (nullable = true)
 |-- Time_TimeUnnamed: 69: string (nullable = true)
 |-- Time_TimeUnnamed: 70: string (nullable = true)
 |-- Time_TimeUnnamed: 71: string (nullable = true)
 |-- Time_TimeUnnamed: 72: string (nullable = true)
 |-- Time_TimeUnnamed: 73: string (nullable = true)
 |-- Time_TimeUnnamed: 74: string (nullable = true)
 |-- Time_TimeUnnamed: 75: string (nullable = true)
 |-- Time_TimeUnnamed: 76: string (nullable = true)
 |-- Time_TimeUnnamed: 77: string (nullable = true)
 |-- Time_TimeUnnamed: 78: string (nullable = true)
 |-- Time_TimeUnnamed: 79: string (nullable = true)
 |-- Time_TimeUnnamed: 80: string (nullable = true)
 |-- Time_TimeUnnamed: 81: string (nullable = true)
 |-- Time_TimeUnnamed: 82: string (nullable = true)
 |-- Time_TimeUnnamed: 83: string (nullable = true)
 |-- Time_TimeUnnamed: 84: string (nullable = true)
 |-- Time_TimeUnnamed: 85: string (nullable = true)
 |-- Time_TimeUnnamed: 86: string (nullable = true)
 |-- Time_TimeUnnamed: 87: string (nullable = true)
 |-- Time_TimeUnnamed: 88: string (nullable = true)
 |-- Time_TimeUnnamed: 89: string (nullable = true)
 |-- Time_TimeUnnamed: 90: string (nullable = true)
 |-- Time_TimeUnnamed: 91: string (nullable = true)
 |-- Time_TimeUnnamed: 92: string (nullable = true)
 |-- Time_TimeUnnamed: 93: string (nullable = true)
 |-- Time_TimeUnnamed: 94: string (nullable = true)
 |-- Time_TimeUnnamed: 95: string (nullable = true)
 |-- Time_TimeUnnamed: 96: string (nullable = true)
 |-- Time_TimeUnnamed: 97: string (nullable = true)

In [48]:
#Renaming with Column
from pyspark.sql.functions import *
inter2 = sal.withColumn("Appointment Time 1",col("Time_TimeUnnamed: 5")) \
      .withColumn("Appointment Time 2",col("Time_TimeUnnamed: 5")) \
      .withColumn("Appointment Time 3",col("Time_TimeUnnamed: 9")) \
      .drop("Time_TimeUnnamed: 7")
inter2.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- Time_TimeUnnamed: 0: string (nullable = true)
 |-- Time_TimeActual System Dispatch: string (nullable = true)
 |-- Time_TimeCourses_List: string (nullable = true)
 |-- Time_TimeInitial Time: string (nullable = true)
 |-- Starting Time: string (nullable = true)
 |-- Appointing Time: string (nullable = true)
 |-- Time_TimeUnnamed: 5: string (nullable = true)
 |-- Time_TimeUnnamed: 6: string (nullable = true)
 |-- Time_Time7/1/2020 0:00: string (nullable = true)
 |-- Time_TimeUnnamed: 9: string (nullable = true)
 |-- Time_TimeUnnamed: 10: string (nullable = true)
 |-- Time_TimeUnnamed: 11: string (nullable = true)
 |-- Time_TimeUnnamed: 12: string (nullable = true)
 |-- Time_TimeUnnamed: 13: string (nullable = true)
 |-- Time_TimeUnnamed: 14: string (nullable = true)
 |-- Time_TimeUnnamed: 15: string (nullable = true)
 |-- Time_TimeUnnamed: 16: string (nullable = true)
 |-- Time_TimeUnnamed: 17: string (nullable = true)
 |-- Time_TimeUnnamed: 18: string (nullable = true)
 |-- Time_TimeUnnamed: 19: string (nullable = true)
 |-- Time_TimeUnnamed: 20: string (nullable = true)
 |-- Time_TimeUnnamed: 21: string (nullable = true)
 |-- Time_TimeUnnamed: 22: string (nullable = true)
 |-- Time_TimeUnnamed: 23: string (nullable = true)
 |-- Time_TimeUnnamed: 24: string (nullable = true)
 |-- Time_TimeUnnamed: 25: string (nullable = true)
 |-- Time_TimeUnnamed: 26: string (nullable = true)
 |-- Time_TimeUnnamed: 27: string (nullable = true)
 |-- Time_TimeUnnamed: 28: string (nullable = true)
 |-- Time_TimeUnnamed: 29: string (nullable = true)
 |-- Time_TimeUnnamed: 30: string (nullable = true)
 |-- Time_TimeUnnamed: 31: string (nullable = true)
 |-- Time_TimeUnnamed: 32: string (nullable = true)
 |-- Time_TimeUnnamed: 33: string (nullable = true)
 |-- Time_TimeUnnamed: 34: string (nullable = true)
 |-- Time_TimeUnnamed: 35: string (nullable = true)
 |-- Time_TimeUnnamed: 36: string (nullable = true)
 |-- Time_TimeUnnamed: 37: string (nullable = true)
 |-- Time_TimeUnnamed: 38: string (nullable = true)
 |-- Time_TimeUnnamed: 39: string (nullable = true)
 |-- Time_TimeUnnamed: 40: string (nullable = true)
 |-- Time_TimeUnnamed: 41: string (nullable = true)
 |-- Time_TimeUnnamed: 42: string (nullable = true)
 |-- Time_TimeUnnamed: 43: string (nullable = true)
 |-- Time_TimeUnnamed: 44: string (nullable = true)
 |-- Time_TimeUnnamed: 45: string (nullable = true)
 |-- Time_TimeUnnamed: 46: string (nullable = true)
 |-- Time_TimeUnnamed: 47: string (nullable = true)
 |-- Time_TimeUnnamed: 48: string (nullable = true)
 |-- Time_TimeUnnamed: 49: string (nullable = true)
 |-- Time_TimeUnnamed: 50: string (nullable = true)
 |-- Time_TimeUnnamed: 51: string (nullable = true)
 |-- Time_TimeUnnamed: 52: string (nullable = true)
 |-- Time_TimeUnnamed: 53: string (nullable = true)
 |-- Time_TimeUnnamed: 54: string (nullable = true)
 |-- Time_TimeUnnamed: 55: string (nullable = true)
 |-- Time_TimeUnnamed: 56: string (nullable = true)
 |-- Time_TimeUnnamed: 57: string (nullable = true)
 |-- Time_TimeUnnamed: 58: string (nullable = true)
 |-- Time_TimeUnnamed: 59: string (nullable = true)
 |-- Time_TimeUnnamed: 60: string (nullable = true)
 |-- Time_TimeUnnamed: 61: string (nullable = true)
 |-- Time_TimeUnnamed: 62: string (nullable = true)
 |-- Time_TimeUnnamed: 63: string (nullable = true)
 |-- Time_TimeUnnamed: 64: string (nullable = true)
 |-- Time_TimeUnnamed: 65: string (nullable = true)
 |-- Time_TimeUnnamed: 66: string (nullable = true)
 |-- Time_TimeUnnamed: 67: string (nullable = true)
 |-- Time_TimeUnnamed: 68: string (nullable = true)
 |-- Time_TimeUnnamed: 69: string (nullable = true)
 |-- Time_TimeUnnamed: 70: string (nullable = true)
 |-- Time_TimeUnnamed: 71: string (nullable = true)
 |-- Time_TimeUnnamed: 72: string (nullable = true)
 |-- Time_TimeUnnamed: 73: string (nullable = true)
 |-- Time_TimeUnnamed: 74: string (nullable = true)
 |-- Time_TimeUnnamed: 75: string (nullable = true)
 |-- Time_TimeUnnamed: 76: string (nullable = true)
 |-- Time_TimeUnnamed: 77: string (nullable = true)
 |-- Time_TimeUnnamed: 78: string (nullable = true)
 |-- Time_TimeUnnamed: 79: string (nullable = true)
 |-- Time_TimeUnnamed: 80: string (nullable = true)
 |-- Time_TimeUnnamed: 81: string (nullable = true)
 |-- Time_TimeUnnamed: 82: string (nullable = true)
 |-- Time_TimeUnnamed: 83: string (nullable = true)
 |-- Time_TimeUnnamed: 84: string (nullable = true)
 |-- Time_TimeUnnamed: 85: string (nullable = true)
 |-- Time_TimeUnnamed: 86: string (nullable = true)
 |-- Time_TimeUnnamed: 87: string (nullable = true)
 |-- Time_TimeUnnamed: 88: string (nullable = true)
 |-- Time_TimeUnnamed: 89: string (nullable = true)
 |-- Time_TimeUnnamed: 90: string (nullable = true)
 |-- Time_TimeUnnamed: 91: string (nullable = true)
 |-- Time_TimeUnnamed: 92: string (nullable = true)
 |-- Time_TimeUnnamed: 93: string (nullable = true)
 |-- Time_TimeUnnamed: 94: string (nullable = true)
 |-- Time_TimeUnnamed: 95: string (nullable = true)
 |-- Time_TimeUnnamed: 96: string (nullable = true)
 |-- Time_TimeUnnamed: 97: string (nullable = true)
 |-- Appointment Time 1: string (nullable = true)
 |-- Appointment Time 2: string (nullable = true)
 |-- Appointment Time 3: string (nullable = true)

In [52]:
#Looping in Pyspark
from pyspark.sql.window import Window
import pyspark.sql.functions as func

In [56]:
w = Window.partitionBy("Starting Time").orderBy("Appointing Time")
sal = sal.groupBy("Starting Time").agg(
    func.count("*").alias("Time_TimeUnnamed: 10")
 )
sal.show(5)

+-------------+--------------------+
|Starting Time|Time_TimeUnnamed: 10|
+-------------+--------------------+
|           59|                   1|
|          813|                   1|
|           52|                   1|
|            0|                   1|
|           43|                   1|
+-------------+--------------------+
only showing top 5 rows