## Question 11 - 14

In [33]:
import pandas as pd
import os
import mysql.connector
import numpy as sp
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

# Database Connection Establishment

In [63]:
#from getpass import getpass
#from mysql.connector import connect, Error

#try:
 #   with connect(
  #      host="localhost",
   #     user=input("Enter username: "),
    #    password=getpass("Enter password: "),
     #    database="dataanalysis",
    #) as connection:
     #   print(connection)
#except Error as e:
 #   print(e)

Enter username: root
Enter password: ········
<mysql.connector.connection.MySQLConnection object at 0x000001CD7B41DAF0>

In [64]:
connection

In [65]:
show_db_query = "SHOW DATABASES"

In [77]:
import mysql.connector
from mysql.connector import Error

try:
    connection = mysql.connector.connect(host='localhost',
                                         database='dataanalysis',
                                         user='root',
                                         password='')
    if connection.is_connected():
        db_Info = connection.get_server_info()
        print("Connected to MySQL Server version ", db_Info)
        cursor = connection.cursor()
        cursor.execute("select database();")
        record = cursor.fetchone()
        print("You're connected to database: ", record)

except Error as e:
    print("Error while connecting to MySQL", e)
#finally:
  #  if (connection.is_connected()):
   #     cursor.close()
    #    connection.close()
     #   print("MySQL connection is closed")

Connected to MySQL Server version  5.5.5-10.4.14-MariaDB
You're connected to database:  ('dataanalysis',)

In [69]:
mysql.connector.__version__

'8.0.26'

# Creating Database Queries

In [74]:
show_db_query = "SHOW Tables from dataanalysis"

In [78]:
with connection.cursor() as cursor:
    cursor.execute(show_db_query)
    result = cursor.fetchall()
    for row in result:
        print(row)

('dispatchsql',)

In [82]:
select_query="Select*from dispatchsql limit 2"
with connection.cursor() as cursor:
    cursor.execute(select_query)
    result = cursor.fetchall()
    for row in result:
        print(row)

(0, 'Time', '0:15:00', '0:30:00', '0:45', '1:00', '1:15', '1:30', '1:45', '2:00', '2:15', '2:30', '2:45', '3:00', '3:15', '3:30', '3:45', '4:00', '4:15', '4:30', '4:45', '5:00', '5:15', '5:30', '5:45', '6:00', '6:15', '6:30', '6:45', '7:00', '7:15', '7:30', '7:45', '8:00', '8:15', '8:30', '8:45', '9:00', '9:15', '9:30', '9:45', '10:00', '10:15', '10:30', '10:45', '11:00', '11:15', '11:30', '11:45', '12:00', '12:15', '12:30', '12:45', '13:00', '13:15', '13:30', '13:45', '14:00', '14:15', '14:30', '14:45', '15:00', '15:15', '15:30', '15:45', '16:00', '16:15', '16:30', '16:45', '17:00', '17:15', '17:30', '17:45', '18:00', '18:15', '18:30', '18:45', '19:00', '19:15', '19:30', '19:45', '20:00', '20:15', '20:30', '20:45', '21:00', '21:15', '21:30', '21:45', '22:00', '22:15', '22:30', '22:45', '23:00', '23:15', '23:30', '23:45', '0:00', 'Energy/(MWh) *')
(1, 'Canyon', '10', '10', '10', '10', '10', '10', '10', '10', '10', '10', '10', '10', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '11', '11', '11', '11', '11', '11', '11', '30', '30', '30', '30', '30', '30', '30', '30', '30', '30', '30', '30', '30', '30', '30', '30', '30', '30', '30', '30', '30', '30', '30', '30', '30', '30', '30', '30', '30', '30', '30', '30', '30', '30', '30', '30', '30', '30', '30', '30', '30', '30', '30', '30', '30', '30', '30', '30', '30', '30', '0', '0', '0', '0', '0', '425')

In [83]:
update_query = """
UPDATE
    dispatchsql
SET
    Unnamed_1 = "10"
WHERE
    Actual_System_Dispatch = "WPS"
"""
with connection.cursor() as cursor:
    cursor.execute(update_query)
    connection.commit()

In [84]:
up_query="""Select*from dispatchsql WHERE Actual_System_Dispatch = "WPS" """
with connection.cursor() as cursor:
    cursor.execute(up_query)
    result = cursor.fetchall()
    for row in result:
        print(row)

(2, 'WPS', '10', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '20', '20', '20', '20', '20', '20', '20', '20', '25', '25', '25', '25', '25', '25', '25', '25', '25', '25', '25', '25', '25', '25', '25', '25', '25', '25', '25', '25', '25', '10', '10', '10', '10', '10', '10', '10', '10', '10', '10', '10', '10', '10', '10', '10', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '204')

In [90]:
pipeq= """SELECT 'Actual_System_Dispatch', 'Unnamed_1' FROM dispatchsql WHERE Column_1 >=10 INTO OUTFILE '/Users/Asus/Documents/InternCsv/sqldispatch.csv' FIELDS TERMINATED BY '|' """
with connection.cursor() as cursor:
    cursor.execute(pipeq)
    result = cursor.fetchall()
    for row in result:
        print(row)