In [2]:
#Testing Pyspark Installation
import findspark

findspark.init()
findspark.find()

import pyspark
findspark.find()

'C:\\spark'

In [3]:
#intialize Spark Context
from pyspark import SparkContext, SparkConf
from pyspark.sql import SparkSession
spark= SparkSession.builder.appName('Inter2').getOrCreate()

In [4]:
intern=spark.read.option('header','true').csv('/Users/Asus/Documents/InternCsv/Dispatchsql.csv')

In [5]:
intern.head(2)

[Row(_c0='0', Time_TimeUnnamed: 0='0', System_Depatch='Time', Time_TimeCourses_List='0:15:00', Time_TimeInitial Time='0:30:00', Appointing_Time='0:45', Time_TimeUnnamed: 4='1:00', Time_TimeUnnamed: 5='1:15', Time_TimeUnnamed: 6='1:30', Time_TimeUnnamed: 7='1:45', Time_Time7/1/2020 0:00='2:00', Time_TimeUnnamed: 9='2:15', Time_TimeUnnamed: 10='2:30', Time_TimeUnnamed: 11='2:45', Time_TimeUnnamed: 12='3:00', Time_TimeUnnamed: 13='3:15', Time_TimeUnnamed: 14='3:30', Time_TimeUnnamed: 15='3:45', Time_TimeUnnamed: 16='4:00', Time_TimeUnnamed: 17='4:15', Time_TimeUnnamed: 18='4:30', Time_TimeUnnamed: 19='4:45', Time_TimeUnnamed: 20='5:00', Time_TimeUnnamed: 21='5:15', Time_TimeUnnamed: 22='5:30', Time_TimeUnnamed: 23='5:45', Time_TimeUnnamed: 24='6:00', Time_TimeUnnamed: 25='6:15', Time_TimeUnnamed: 26='6:30', Time_TimeUnnamed: 27='6:45', Time_TimeUnnamed: 28='7:00', Time_TimeUnnamed: 29='7:15', Time_TimeUnnamed: 30='7:30', Time_TimeUnnamed: 31='7:45', Time_TimeUnnamed: 32='8:00', Time_TimeUnnamed: 33='8:15', Time_TimeUnnamed: 34='8:30', Time_TimeUnnamed: 35='8:45', Time_TimeUnnamed: 36='9:00', Time_TimeUnnamed: 37='9:15', Time_TimeUnnamed: 38='9:30', Time_TimeUnnamed: 39='9:45', Time_TimeUnnamed: 40='10:00', Time_TimeUnnamed: 41='10:15', Time_TimeUnnamed: 42='10:30', Time_TimeUnnamed: 43='10:45', Time_TimeUnnamed: 44='11:00', Time_TimeUnnamed: 45='11:15', Time_TimeUnnamed: 46='11:30', Time_TimeUnnamed: 47='11:45', Time_TimeUnnamed: 48='12:00', Time_TimeUnnamed: 49='12:15', Time_TimeUnnamed: 50='12:30', Time_TimeUnnamed: 51='12:45', Time_TimeUnnamed: 52='13:00', Time_TimeUnnamed: 53='13:15', Time_TimeUnnamed: 54='13:30', Time_TimeUnnamed: 55='13:45', Time_TimeUnnamed: 56='14:00', Time_TimeUnnamed: 57='14:15', Time_TimeUnnamed: 58='14:30', Time_TimeUnnamed: 59='14:45', Time_TimeUnnamed: 60='15:00', Time_TimeUnnamed: 61='15:15', Time_TimeUnnamed: 62='15:30', Time_TimeUnnamed: 63='15:45', Time_TimeUnnamed: 64='16:00', Time_TimeUnnamed: 65='16:15', Time_TimeUnnamed: 66='16:30', Time_TimeUnnamed: 67='16:45', Time_TimeUnnamed: 68='17:00', Time_TimeUnnamed: 69='17:15', Time_TimeUnnamed: 70='17:30', Time_TimeUnnamed: 71='17:45', Time_TimeUnnamed: 72='18:00', Time_TimeUnnamed: 73='18:15', Time_TimeUnnamed: 74='18:30', Time_TimeUnnamed: 75='18:45', Time_TimeUnnamed: 76='19:00', Time_TimeUnnamed: 77='19:15', Time_TimeUnnamed: 78='19:30', Time_TimeUnnamed: 79='19:45', Time_TimeUnnamed: 80='20:00', Time_TimeUnnamed: 81='20:15', Time_TimeUnnamed: 82='20:30', Time_TimeUnnamed: 83='20:45', Time_TimeUnnamed: 84='21:00', Time_TimeUnnamed: 85='21:15', Time_TimeUnnamed: 86='21:30', Time_TimeUnnamed: 87='21:45', Time_TimeUnnamed: 88='22:00', Time_TimeUnnamed: 89='22:15', Time_TimeUnnamed: 90='22:30', Time_TimeUnnamed: 91='22:45', Time_TimeUnnamed: 92='23:00', Time_TimeUnnamed: 93='23:15', Time_TimeUnnamed: 94='23:30', Time_TimeUnnamed: 95='23:45', Time_TimeUnnamed: 96='0:00', Time_TimeUnnamed: 97='1'),
 Row(_c0='1', Time_TimeUnnamed: 0='1', System_Depatch='Canyon', Time_TimeCourses_List='10', Time_TimeInitial Time='10', Appointing_Time='10', Time_TimeUnnamed: 4='10', Time_TimeUnnamed: 5='10', Time_TimeUnnamed: 6='10', Time_TimeUnnamed: 7='10', Time_Time7/1/2020 0:00='10', Time_TimeUnnamed: 9='10', Time_TimeUnnamed: 10='10', Time_TimeUnnamed: 11='10', Time_TimeUnnamed: 12='10', Time_TimeUnnamed: 13='0', Time_TimeUnnamed: 14='0', Time_TimeUnnamed: 15='0', Time_TimeUnnamed: 16='0', Time_TimeUnnamed: 17='0', Time_TimeUnnamed: 18='0', Time_TimeUnnamed: 19='0', Time_TimeUnnamed: 20='0', Time_TimeUnnamed: 21='0', Time_TimeUnnamed: 22='0', Time_TimeUnnamed: 23='0', Time_TimeUnnamed: 24='0', Time_TimeUnnamed: 25='0', Time_TimeUnnamed: 26='0', Time_TimeUnnamed: 27='0', Time_TimeUnnamed: 28='0', Time_TimeUnnamed: 29='0', Time_TimeUnnamed: 30='0', Time_TimeUnnamed: 31='0', Time_TimeUnnamed: 32='0', Time_TimeUnnamed: 33='0', Time_TimeUnnamed: 34='0', Time_TimeUnnamed: 35='11', Time_TimeUnnamed: 36='11', Time_TimeUnnamed: 37='11', Time_TimeUnnamed: 38='11', Time_TimeUnnamed: 39='11', Time_TimeUnnamed: 40='11', Time_TimeUnnamed: 41='11', Time_TimeUnnamed: 42='30', Time_TimeUnnamed: 43='30', Time_TimeUnnamed: 44='30', Time_TimeUnnamed: 45='30', Time_TimeUnnamed: 46='30', Time_TimeUnnamed: 47='30', Time_TimeUnnamed: 48='30', Time_TimeUnnamed: 49='30', Time_TimeUnnamed: 50='30', Time_TimeUnnamed: 51='30', Time_TimeUnnamed: 52='30', Time_TimeUnnamed: 53='30', Time_TimeUnnamed: 54='30', Time_TimeUnnamed: 55='30', Time_TimeUnnamed: 56='30', Time_TimeUnnamed: 57='30', Time_TimeUnnamed: 58='30', Time_TimeUnnamed: 59='30', Time_TimeUnnamed: 60='30', Time_TimeUnnamed: 61='30', Time_TimeUnnamed: 62='30', Time_TimeUnnamed: 63='30', Time_TimeUnnamed: 64='30', Time_TimeUnnamed: 65='30', Time_TimeUnnamed: 66='30', Time_TimeUnnamed: 67='30', Time_TimeUnnamed: 68='30', Time_TimeUnnamed: 69='30', Time_TimeUnnamed: 70='30', Time_TimeUnnamed: 71='30', Time_TimeUnnamed: 72='30', Time_TimeUnnamed: 73='30', Time_TimeUnnamed: 74='30', Time_TimeUnnamed: 75='30', Time_TimeUnnamed: 76='30', Time_TimeUnnamed: 77='30', Time_TimeUnnamed: 78='30', Time_TimeUnnamed: 79='30', Time_TimeUnnamed: 80='30', Time_TimeUnnamed: 81='30', Time_TimeUnnamed: 82='30', Time_TimeUnnamed: 83='30', Time_TimeUnnamed: 84='30', Time_TimeUnnamed: 85='30', Time_TimeUnnamed: 86='30', Time_TimeUnnamed: 87='30', Time_TimeUnnamed: 88='30', Time_TimeUnnamed: 89='30', Time_TimeUnnamed: 90='30', Time_TimeUnnamed: 91='30', Time_TimeUnnamed: 92='0', Time_TimeUnnamed: 93='0', Time_TimeUnnamed: 94='0', Time_TimeUnnamed: 95='0', Time_TimeUnnamed: 96='0', Time_TimeUnnamed: 97='425')]

In [6]:
import tensorflow as tf

In [7]:
from tensorflow import keras

In [77]:
import pandas as pd
from pyspark.sql import *
from pyspark.sql.types import *

#main1=pd.read_excel('/Users/Asus/Documents/InternCsv/forcast_july/july3.xls', index_col=0)  
#main1=pd.read_excel('/Users/Asus/Documents/InternCsv/forcast_july/july4.xls', index_col=0)  

main1=spark.read.option('header','false').csv('/Users/Asus/Documents/InternCsv/forcast_july/july3.csv')
main2=spark.read.option('header','false').csv('/Users/Asus/Documents/InternCsv/forcast_july/july4.csv')

## Pyspark Inner Join Example

In [73]:
main1.show(5)
main1.printSchema()

+--------------------+---------+----+----+----+----+----+----+----+----+----+----+----+--------+----+----+----+----+----+----+----+-----+-----+-----+-----+-----+-----+--------+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+--------+-----+-----+-----+-----+-----+-----+-----+------+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+--------+-----+-----+-----+-----+
|                 _c0|      _c1| _c2| _c3| _c4| _c5| _c6| _c7| _c8| _c9|_c10|_c11|_c12|    _c13|_c14|_c15|_c16|_c17|_c18|_c19|_c20| _c21| _c22| _c23| _c24| _c25| _c26|    _c27| _c28| _c29| _c30| _c31| _c32| _c33| _c34| _c35| _c36| _c37| _c38| _c39| _c40|    _c41| _c42| _c43| _c44| _c45| _c46| _c47| _c48|  _c49|_c50|_c51|_c52|_c53|_c54|_c55|_c56|_c57|_c58|_c59|_c60|_c61|_c62|_c63|_c64|_c65|_c66|_c67|_c68|_c69|_c70|_c71|_c72|_c73|_c74|_c75|_c76|_c77|_c78|_c79|_c80|_c81|_c82|_c83|_c84|_c85|_c86|_c87|_c88|_c89|_c90|_c91|_c92|_c93|_c94|_c95|_c96|_c97|_c98|_c99|_c100|_c101|_c102|_c103|_c104|_c105|_c106|_c107|_c108|_c109|_c110|_c111|_c112|_c113|_c114|_c115|_c116|_c117|_c118|_c119|_c120|_c121|_c122|_c123|_c124|_c125|_c126|_c127|_c128|_c129|_c130|_c131|_c132|_c133|_c134|_c135|_c136|_c137|_c138|_c139|_c140|_c141|_c142|_c143|_c144|_c145|_c146|   _c147|_c148|_c149|_c150|_c151|
+--------------------+---------+----+----+----+----+----+----+----+----+----+----+----+--------+----+----+----+----+----+----+----+-----+-----+-----+-----+-----+-----+--------+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+--------+-----+-----+-----+-----+-----+-----+-----+------+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+--------+-----+-----+-----+-----+
|3.    Day Ahead E...|     null|null|null|null|null|null|null|null|null|null|null|null|    null|null|null|null|null|null|null|null| null| null| null| null| null| null|    null| null| null| null| null| null| null| null| null| null| null| null| null| null|    null| null| null| null| null| null| null| null|  null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null|    null| null| null| null| null|
|                Date|03-Jul-20|null|null|null|null|null|null|null|null|null|null|null|3-Jul-20|null|null|null|null|null|null|null| null| null| null| null| null| null|3-Jul-20| null| null| null| null| null| null| null| null| null| null| null| null| null|3-Jul-20| null| null| null| null| null| null| null|  null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null|    null| null| null| null| null|
|                null|     0:00|0:30|1:00|1:30|2:00|2:30|3:00|3:30|4:00|4:30|5:00|5:30|    6:00|6:30|7:00|7:30|8:00|8:30|9:00|9:30|10:00|10:30|11:00|11:30|12:00|12:30|   13:00|13:30|14:00|14:30|15:00|15:30|16:00|16:30|17:00|17:30|18:00|18:30|19:00|19:30|   20:00|20:30|21:00|21:30|22:00|22:30|23:00|23:30|Energy|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null|    null| null| null| null| null|
|            WPS     |       23|  10|   0|   0|   0|   0|   0|   0|   0|   0|   0|  10|      33|  33|  10|  10|  10|  34|  34|  22|   22|   22|   28|   28|   28|   10|      10|   10|   19|   19|   19|   19|   19|   19|   10|   10|   10|   10|   19|   19|       0|    0|    0|    0|    0|    0|    0|    0|   287|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null|Victoria| null| null| null| null|
|           Cany     |        0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|  11|      26|  30|  30|  30|  30|  30|  30|  30|   22|   22|   30|   30|   30|   30|      30|   30|   30|   30|   30|   30|   30|   30|   11|   11|    0|   11|   30|   30|      30|   20|   20|   11|    0|    0|    0|    0|   413|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null|Kothmale| null| null| null| null|
+--------------------+---------+----+----+----+----+----+----+----+----+----+----+----+--------+----+----+----+----+----+----+----+-----+-----+-----+-----+-----+-----+--------+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+--------+-----+-----+-----+-----+-----+-----+-----+------+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+--------+-----+-----+-----+-----+
only showing top 5 rows

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)
 |-- _c4: string (nullable = true)
 |-- _c5: string (nullable = true)
 |-- _c6: string (nullable = true)
 |-- _c7: string (nullable = true)
 |-- _c8: string (nullable = true)
 |-- _c9: string (nullable = true)
 |-- _c10: string (nullable = true)
 |-- _c11: string (nullable = true)
 |-- _c12: string (nullable = true)
 |-- _c13: string (nullable = true)
 |-- _c14: string (nullable = true)
 |-- _c15: string (nullable = true)
 |-- _c16: string (nullable = true)
 |-- _c17: string (nullable = true)
 |-- _c18: string (nullable = true)
 |-- _c19: string (nullable = true)
 |-- _c20: string (nullable = true)
 |-- _c21: string (nullable = true)
 |-- _c22: string (nullable = true)
 |-- _c23: string (nullable = true)
 |-- _c24: string (nullable = true)
 |-- _c25: string (nullable = true)
 |-- _c26: string (nullable = true)
 |-- _c27: string (nullable = true)
 |-- _c28: string (nullable = true)
 |-- _c29: string (nullable = true)
 |-- _c30: string (nullable = true)
 |-- _c31: string (nullable = true)
 |-- _c32: string (nullable = true)
 |-- _c33: string (nullable = true)
 |-- _c34: string (nullable = true)
 |-- _c35: string (nullable = true)
 |-- _c36: string (nullable = true)
 |-- _c37: string (nullable = true)
 |-- _c38: string (nullable = true)
 |-- _c39: string (nullable = true)
 |-- _c40: string (nullable = true)
 |-- _c41: string (nullable = true)
 |-- _c42: string (nullable = true)
 |-- _c43: string (nullable = true)
 |-- _c44: string (nullable = true)
 |-- _c45: string (nullable = true)
 |-- _c46: string (nullable = true)
 |-- _c47: string (nullable = true)
 |-- _c48: string (nullable = true)
 |-- _c49: string (nullable = true)
 |-- _c50: string (nullable = true)
 |-- _c51: string (nullable = true)
 |-- _c52: string (nullable = true)
 |-- _c53: string (nullable = true)
 |-- _c54: string (nullable = true)
 |-- _c55: string (nullable = true)
 |-- _c56: string (nullable = true)
 |-- _c57: string (nullable = true)
 |-- _c58: string (nullable = true)
 |-- _c59: string (nullable = true)
 |-- _c60: string (nullable = true)
 |-- _c61: string (nullable = true)
 |-- _c62: string (nullable = true)
 |-- _c63: string (nullable = true)
 |-- _c64: string (nullable = true)
 |-- _c65: string (nullable = true)
 |-- _c66: string (nullable = true)
 |-- _c67: string (nullable = true)
 |-- _c68: string (nullable = true)
 |-- _c69: string (nullable = true)
 |-- _c70: string (nullable = true)
 |-- _c71: string (nullable = true)
 |-- _c72: string (nullable = true)
 |-- _c73: string (nullable = true)
 |-- _c74: string (nullable = true)
 |-- _c75: string (nullable = true)
 |-- _c76: string (nullable = true)
 |-- _c77: string (nullable = true)
 |-- _c78: string (nullable = true)
 |-- _c79: string (nullable = true)
 |-- _c80: string (nullable = true)
 |-- _c81: string (nullable = true)
 |-- _c82: string (nullable = true)
 |-- _c83: string (nullable = true)
 |-- _c84: string (nullable = true)
 |-- _c85: string (nullable = true)
 |-- _c86: string (nullable = true)
 |-- _c87: string (nullable = true)
 |-- _c88: string (nullable = true)
 |-- _c89: string (nullable = true)
 |-- _c90: string (nullable = true)
 |-- _c91: string (nullable = true)
 |-- _c92: string (nullable = true)
 |-- _c93: string (nullable = true)
 |-- _c94: string (nullable = true)
 |-- _c95: string (nullable = true)
 |-- _c96: string (nullable = true)
 |-- _c97: string (nullable = true)
 |-- _c98: string (nullable = true)
 |-- _c99: string (nullable = true)
 |-- _c100: string (nullable = true)
 |-- _c101: string (nullable = true)
 |-- _c102: string (nullable = true)
 |-- _c103: string (nullable = true)
 |-- _c104: string (nullable = true)
 |-- _c105: string (nullable = true)
 |-- _c106: string (nullable = true)
 |-- _c107: string (nullable = true)
 |-- _c108: string (nullable = true)
 |-- _c109: string (nullable = true)
 |-- _c110: string (nullable = true)
 |-- _c111: string (nullable = true)
 |-- _c112: string (nullable = true)
 |-- _c113: string (nullable = true)
 |-- _c114: string (nullable = true)
 |-- _c115: string (nullable = true)
 |-- _c116: string (nullable = true)
 |-- _c117: string (nullable = true)
 |-- _c118: string (nullable = true)
 |-- _c119: string (nullable = true)
 |-- _c120: string (nullable = true)
 |-- _c121: string (nullable = true)
 |-- _c122: string (nullable = true)
 |-- _c123: string (nullable = true)
 |-- _c124: string (nullable = true)
 |-- _c125: string (nullable = true)
 |-- _c126: string (nullable = true)
 |-- _c127: string (nullable = true)
 |-- _c128: string (nullable = true)
 |-- _c129: string (nullable = true)
 |-- _c130: string (nullable = true)
 |-- _c131: string (nullable = true)
 |-- _c132: string (nullable = true)
 |-- _c133: string (nullable = true)
 |-- _c134: string (nullable = true)
 |-- _c135: string (nullable = true)
 |-- _c136: string (nullable = true)
 |-- _c137: string (nullable = true)
 |-- _c138: string (nullable = true)
 |-- _c139: string (nullable = true)
 |-- _c140: string (nullable = true)
 |-- _c141: string (nullable = true)
 |-- _c142: string (nullable = true)
 |-- _c143: string (nullable = true)
 |-- _c144: string (nullable = true)
 |-- _c145: string (nullable = true)
 |-- _c146: string (nullable = true)
 |-- _c147: string (nullable = true)
 |-- _c148: string (nullable = true)
 |-- _c149: string (nullable = true)
 |-- _c150: string (nullable = true)
 |-- _c151: string (nullable = true)

In [74]:
main1=main1.toDF(*(c.replace(' ', '_') for c in main1.columns))

In [76]:
#main1.printSchema()
from pyspark.sql.functions import col
main1 = main1.select(col("_c0").alias("Starting_Time1"), col("_c1").alias("Starting_Time2"),col("_c2").alias("Starting_Time3"))
main1.show()

+--------------------+--------------+--------------+
|      Starting_Time1|Starting_Time2|Starting_Time3|
+--------------------+--------------+--------------+
|3.    Day Ahead E...|          null|          null|
|                Date|     03-Jul-20|          null|
|                null|          0:00|          0:30|
|            WPS     |            23|            10|
|           Cany     |             0|             0|
|         Olax       |            10|            10|
|                Nlax|            20|            20|
|                Polp|            22|             6|
|                UKPS|             0|             0|
|                Koth|            40|            40|
|            Victoria|             0|             0|
|                Rand|             0|             0|
|                Rant|             0|             0|
|                 Uku|            40|            40|
|                Bowa|             0|             0|
|                Sama|             0|             0|
|              Kukule|             0|             0|
|              PCCP I|           270|           270|
|             PCCP II|           270|           270|
|            PCCP III|           229|           259|
+--------------------+--------------+--------------+
only showing top 20 rows

## Setting up the Data in Pyspark

In [52]:
emp = [(1,"Smith",-1,"2018","10","M",3000), \
    (2,"Rose",1,"2010","20","M",4000), \
    (3,"Williams",1,"2010","10","M",1000), \
    (4,"Jones",2,"2005","10","F",2000), \
    (5,"Brown",2,"2010","40","",-1), \
      (6,"Brown",2,"2010","50","",-1) \
  ]
empColumns = ["emp_id","name","superior_emp_id","year_joined", \
       "emp_dept_id","gender","salary"]

empDF = spark.createDataFrame(data=emp, schema = empColumns)
empDF.printSchema()
empDF.show(truncate=False)

dept = [("Finance",10), \
    ("Marketing",20), \
    ("Sales",30), \
    ("IT",40) \
  ]
deptColumns = ["dept_name","dept_id"]
deptDF = spark.createDataFrame(data=dept, schema = deptColumns)
deptDF.printSchema()
deptDF.show(truncate=False)

root
 |-- emp_id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- superior_emp_id: long (nullable = true)
 |-- year_joined: string (nullable = true)
 |-- emp_dept_id: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: long (nullable = true)

+------+--------+---------------+-----------+-----------+------+------+
|emp_id|name    |superior_emp_id|year_joined|emp_dept_id|gender|salary|
+------+--------+---------------+-----------+-----------+------+------+
|1     |Smith   |-1             |2018       |10         |M     |3000  |
|2     |Rose    |1              |2010       |20         |M     |4000  |
|3     |Williams|1              |2010       |10         |M     |1000  |
|4     |Jones   |2              |2005       |10         |F     |2000  |
|5     |Brown   |2              |2010       |40         |      |-1    |
|6     |Brown   |2              |2010       |50         |      |-1    |
+------+--------+---------------+-----------+-----------+------+------+

root
 |-- dept_name: string (nullable = true)
 |-- dept_id: long (nullable = true)

+---------+-------+
|dept_name|dept_id|
+---------+-------+
|Finance  |10     |
|Marketing|20     |
|Sales    |30     |
|IT       |40     |
+---------+-------+

In [51]:
m1 = Main1.alias('m1')
m2 = Main2.alias('m2') #Using Alias in spark to provide a temporary Name

## Pyspark Inner Join Example

In [53]:
empDF.join(deptDF,empDF.emp_dept_id ==  deptDF.dept_id,"inner") \
     .show(truncate=False)

+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|emp_id|name    |superior_emp_id|year_joined|emp_dept_id|gender|salary|dept_name|dept_id|
+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|1     |Smith   |-1             |2018       |10         |M     |3000  |Finance  |10     |
|3     |Williams|1              |2010       |10         |M     |1000  |Finance  |10     |
|4     |Jones   |2              |2005       |10         |F     |2000  |Finance  |10     |
|2     |Rose    |1              |2010       |20         |M     |4000  |Marketing|20     |
|5     |Brown   |2              |2010       |40         |      |-1    |IT       |40     |
+------+--------+---------------+-----------+-----------+------+------+---------+-------+

## PySpark Full Outer Join

In [55]:
print("Outer Join")
empDF.join(deptDF,empDF.emp_dept_id ==  deptDF.dept_id,"outer") \
    .show(truncate=False)
print("Full Join")
empDF.join(deptDF,empDF.emp_dept_id ==  deptDF.dept_id,"full") \
    .show(truncate=False)
print("Full Outer Join")
empDF.join(deptDF,empDF.emp_dept_id ==  deptDF.dept_id,"fullouter") \
    .show(truncate=False)

Outer Join
+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|emp_id|name    |superior_emp_id|year_joined|emp_dept_id|gender|salary|dept_name|dept_id|
+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|6     |Brown   |2              |2010       |50         |      |-1    |null     |null   |
|1     |Smith   |-1             |2018       |10         |M     |3000  |Finance  |10     |
|3     |Williams|1              |2010       |10         |M     |1000  |Finance  |10     |
|4     |Jones   |2              |2005       |10         |F     |2000  |Finance  |10     |
|null  |null    |null           |null       |null       |null  |null  |Sales    |30     |
|2     |Rose    |1              |2010       |20         |M     |4000  |Marketing|20     |
|5     |Brown   |2              |2010       |40         |      |-1    |IT       |40     |
+------+--------+---------------+-----------+-----------+------+------+---------+-------+

Full Join
+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|emp_id|name    |superior_emp_id|year_joined|emp_dept_id|gender|salary|dept_name|dept_id|
+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|6     |Brown   |2              |2010       |50         |      |-1    |null     |null   |
|1     |Smith   |-1             |2018       |10         |M     |3000  |Finance  |10     |
|3     |Williams|1              |2010       |10         |M     |1000  |Finance  |10     |
|4     |Jones   |2              |2005       |10         |F     |2000  |Finance  |10     |
|null  |null    |null           |null       |null       |null  |null  |Sales    |30     |
|2     |Rose    |1              |2010       |20         |M     |4000  |Marketing|20     |
|5     |Brown   |2              |2010       |40         |      |-1    |IT       |40     |
+------+--------+---------------+-----------+-----------+------+------+---------+-------+

Full Outer Join
+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|emp_id|name    |superior_emp_id|year_joined|emp_dept_id|gender|salary|dept_name|dept_id|
+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|6     |Brown   |2              |2010       |50         |      |-1    |null     |null   |
|1     |Smith   |-1             |2018       |10         |M     |3000  |Finance  |10     |
|3     |Williams|1              |2010       |10         |M     |1000  |Finance  |10     |
|4     |Jones   |2              |2005       |10         |F     |2000  |Finance  |10     |
|null  |null    |null           |null       |null       |null  |null  |Sales    |30     |
|2     |Rose    |1              |2010       |20         |M     |4000  |Marketing|20     |
|5     |Brown   |2              |2010       |40         |      |-1    |IT       |40     |
+------+--------+---------------+-----------+-----------+------+------+---------+-------+

## PySpark Left Outer Join

In [63]:
print("Left Join")

empDF.join(deptDF,empDF.emp_dept_id ==  deptDF.dept_id,"left") \
    .show(truncate=False)

print("Left Outer Join")
empDF.join(deptDF,empDF.emp_dept_id ==  deptDF.dept_id,"leftouter") \
    .show(truncate=False)

Left Join
+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|emp_id|name    |superior_emp_id|year_joined|emp_dept_id|gender|salary|dept_name|dept_id|
+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|6     |Brown   |2              |2010       |50         |      |-1    |null     |null   |
|1     |Smith   |-1             |2018       |10         |M     |3000  |Finance  |10     |
|3     |Williams|1              |2010       |10         |M     |1000  |Finance  |10     |
|4     |Jones   |2              |2005       |10         |F     |2000  |Finance  |10     |
|2     |Rose    |1              |2010       |20         |M     |4000  |Marketing|20     |
|5     |Brown   |2              |2010       |40         |      |-1    |IT       |40     |
+------+--------+---------------+-----------+-----------+------+------+---------+-------+

Left Outer Join
+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|emp_id|name    |superior_emp_id|year_joined|emp_dept_id|gender|salary|dept_name|dept_id|
+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|6     |Brown   |2              |2010       |50         |      |-1    |null     |null   |
|1     |Smith   |-1             |2018       |10         |M     |3000  |Finance  |10     |
|3     |Williams|1              |2010       |10         |M     |1000  |Finance  |10     |
|4     |Jones   |2              |2005       |10         |F     |2000  |Finance  |10     |
|2     |Rose    |1              |2010       |20         |M     |4000  |Marketing|20     |
|5     |Brown   |2              |2010       |40         |      |-1    |IT       |40     |
+------+--------+---------------+-----------+-----------+------+------+---------+-------+

## PySpark Right Outer Join

In [64]:
print("Right Join")
empDF.join(deptDF,empDF.emp_dept_id ==  deptDF.dept_id,"right") \
   .show(truncate=False)
print("Right Outer Join")
empDF.join(deptDF,empDF.emp_dept_id ==  deptDF.dept_id,"rightouter") \
   .show(truncate=False)

Right Join
+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|emp_id|name    |superior_emp_id|year_joined|emp_dept_id|gender|salary|dept_name|dept_id|
+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|1     |Smith   |-1             |2018       |10         |M     |3000  |Finance  |10     |
|3     |Williams|1              |2010       |10         |M     |1000  |Finance  |10     |
|4     |Jones   |2              |2005       |10         |F     |2000  |Finance  |10     |
|null  |null    |null           |null       |null       |null  |null  |Sales    |30     |
|2     |Rose    |1              |2010       |20         |M     |4000  |Marketing|20     |
|5     |Brown   |2              |2010       |40         |      |-1    |IT       |40     |
+------+--------+---------------+-----------+-----------+------+------+---------+-------+

Right Outer Join
+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|emp_id|name    |superior_emp_id|year_joined|emp_dept_id|gender|salary|dept_name|dept_id|
+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|1     |Smith   |-1             |2018       |10         |M     |3000  |Finance  |10     |
|3     |Williams|1              |2010       |10         |M     |1000  |Finance  |10     |
|4     |Jones   |2              |2005       |10         |F     |2000  |Finance  |10     |
|null  |null    |null           |null       |null       |null  |null  |Sales    |30     |
|2     |Rose    |1              |2010       |20         |M     |4000  |Marketing|20     |
|5     |Brown   |2              |2010       |40         |      |-1    |IT       |40     |
+------+--------+---------------+-----------+-----------+------+------+---------+-------+

## Union Queries

In [65]:
import pyspark
from pyspark.sql import SparkSession

In [78]:
#main1.printSchema()
from pyspark.sql.functions import col
main1 = main1.select(col("_c0").alias("Starting_Time1"), col("_c1").alias("Starting_Time2"),col("_c2").alias("Starting_Time3"))
main1.show()
#main2.printSchema()
main2 = main2.select(col("_c0").alias("Starting_Time1"), col("_c1").alias("Starting_Time2"),col("_c2").alias("Starting_Time3"))
main2.show()

+--------------------+--------------+--------------+
|      Starting_Time1|Starting_Time2|Starting_Time3|
+--------------------+--------------+--------------+
|3.    Day Ahead E...|          null|          null|
|                Date|     03-Jul-20|          null|
|                null|          0:00|          0:30|
|            WPS     |            23|            10|
|           Cany     |             0|             0|
|         Olax       |            10|            10|
|                Nlax|            20|            20|
|                Polp|            22|             6|
|                UKPS|             0|             0|
|                Koth|            40|            40|
|            Victoria|             0|             0|
|                Rand|             0|             0|
|                Rant|             0|             0|
|                 Uku|            40|            40|
|                Bowa|             0|             0|
|                Sama|             0|             0|
|              Kukule|             0|             0|
|              PCCP I|           270|           270|
|             PCCP II|           270|           270|
|            PCCP III|           229|           259|
+--------------------+--------------+--------------+
only showing top 20 rows

+--------------------+--------------+--------------+
|      Starting_Time1|Starting_Time2|Starting_Time3|
+--------------------+--------------+--------------+
|3.    Day Ahead E...|          null|          null|
|                Date|     04-Jul-20|          null|
|                null|          0:00|          0:30|
|            WPS     |            23|            23|
|           Cany     |            11|            11|
|         Olax       |            10|            10|
|                Nlax|            22|            22|
|                Polp|            19|            18|
|                UKPS|             0|             0|
|                Koth|            40|            40|
|            Victoria|             0|             0|
|                Rand|             0|             0|
|                Rant|             0|             0|
|                 Uku|            40|            40|
|                Bowa|             0|             0|
|                Sama|             0|             0|
|              Kukule|            75|            75|
|              PCCP I|           270|           270|
|             PCCP II|           270|           270|
|            PCCP III|           270|           270|
+--------------------+--------------+--------------+
only showing top 20 rows

In [79]:
unionDF = main1.union(main2)
unionDF.show(truncate=False)

+----------------------------------------------------+--------------+--------------+
|Starting_Time1                                      |Starting_Time2|Starting_Time3|
+----------------------------------------------------+--------------+--------------+
|3.    Day Ahead Economic Dispatch for next day in MW|null          |null          |
|Date                                                |03-Jul-20     |null          |
|null                                                |0:00          |0:30          |
|WPS                                                 |23            |10            |
|Cany                                                |0             |0             |
|Olax                                                |10            |10            |
|Nlax                                                |20            |20            |
|Polp                                                |22            |6             |
|UKPS                                                |0             |0             |
|Koth                                                |40            |40            |
|Victoria                                            |0             |0             |
|Rand                                                |0             |0             |
|Rant                                                |0             |0             |
|Uku                                                 |40            |40            |
|Bowa                                                |0             |0             |
|Sama                                                |0             |0             |
|Kukule                                              |0             |0             |
|PCCP I                                              |270           |270           |
|PCCP II                                             |270           |270           |
|PCCP III                                            |229           |259           |
+----------------------------------------------------+--------------+--------------+
only showing top 20 rows

## Merge DataFrames using unionAll

In [82]:
unionAllDF = main1.unionAll(main2)
unionAllDF.show(100)

+--------------------+--------------------+--------------+
|      Starting_Time1|      Starting_Time2|Starting_Time3|
+--------------------+--------------------+--------------+
|3.    Day Ahead E...|                null|          null|
|                Date|           03-Jul-20|          null|
|                null|                0:00|          0:30|
|            WPS     |                  23|            10|
|           Cany     |                   0|             0|
|         Olax       |                  10|            10|
|                Nlax|                  20|            20|
|                Polp|                  22|             6|
|                UKPS|                   0|             0|
|                Koth|                  40|            40|
|            Victoria|                   0|             0|
|                Rand|                   0|             0|
|                Rant|                   0|             0|
|                 Uku|                  40|            40|
|                Bowa|                   0|             0|
|                Sama|                   0|             0|
|              Kukule|                   0|             0|
|              PCCP I|                 270|           270|
|             PCCP II|                 270|           270|
|            PCCP III|                 229|           259|
|                 KPS|                   0|             0|
|       CEB_EMERGENCY|                   0|             0|
|               GT 07|                   0|             0|
|               SPS A|                  54|            54|
|               SPS B|                  63|            63|
|          Asia Power|                   0|             0|
|               Barge|                  60|            60|
|        ACE (Matara)|                   0|             0|
|  Ace (Embilipitiya)|                  67|            31|
|      NORTHERN_Power|                   0|             0|
|       Uthuru_Janani|                  20|            16|
|          KCCP GT(N)|                   0|             0|
|          KCCP ST(N)|                   0|             0|
|          KCCP GT(D)|                   0|             0|
|          KCCP ST(D)|                   0|             0|
|          Sojitz CCP|                   0|             0|
|             WCP_GT1|                  85|            85|
|             WCP_GT2|                   0|             0|
|              WCP_ST|                  50|            50|
|        VPOWER_Palle|                   0|             0|
|       ALTAAQ_Mahiya|                   0|             0|
|        ALTAAQ_Polon|                   0|             0|
|         VPOWER_Hamb|                   0|             0|
|       VPOWER_Horana|                   0|             0|
|                Wind|                  51|            49|
|               Solar|                   0|             0|
|       Mini Hydro***|                  60|            60|
|    Total Generation|                1434|          1393|
|         Total Hydro|                 155|           126|
|       Total Thermal|                1168|          1158|
|      Total NCRE ***|                 111|           109|
|  Generation Summery|                null|          null|
|                null|            7/3/2020|          null|
|Total Energy / (GWh)|               44.06|          null|
|Hydro Energy / (GWh)|                9.22|        20.92%|
|Thermal Energy /(...|               32.03|        72.70%|
| NCRE Energy / (GWh)|                2.81|         6.37%|
|                null|                null|          null|
|            Note ***|Please note that ...|          null|
|             Remarks|                null|          null|
|                null|                null|          null|
|1. Frequency Control|                null|          null|
|                null|            Off Peak|      Day Peak|
|               Day 1|            Kothmale|      Kothmale|
|                null|                null|          null|
|2. Irrigation Req...|                null|          null|
|                null|                null|          null|
|Rant 20MW X15 hrs...|                null|          null|
|                null|                null|          null|
|                null|                null|          null|
|                null|                null|          null|
|3. Other water Re...|                null|          null|
|                null|                null|          null|
|            4. Other|                null|          null|
|                null|                null|          null|
|                null|                null|          null|
|                null|                null|          null|
|3.    Day Ahead E...|                null|          null|
|                Date|           04-Jul-20|          null|
|                null|                0:00|          0:30|
|            WPS     |                  23|            23|
|           Cany     |                  11|            11|
|         Olax       |                  10|            10|
|                Nlax|                  22|            22|
|                Polp|                  19|            18|
|                UKPS|                   0|             0|
|                Koth|                  40|            40|
|            Victoria|                   0|             0|
|                Rand|                   0|             0|
|                Rant|                   0|             0|
|                 Uku|                  40|            40|
|                Bowa|                   0|             0|
|                Sama|                   0|             0|
|              Kukule|                  75|            75|
|              PCCP I|                 270|           270|
|             PCCP II|                 270|           270|
|            PCCP III|                 270|           270|
|                 KPS|                   0|             0|
|       CEB_EMERGENCY|                   0|             0|
|               GT 07|                   0|             0|
+--------------------+--------------------+--------------+
only showing top 100 rows

## Merge without Duplicates

In [84]:
disDF = main1.union(main2).distinct()
disDF.show(100)

+--------------------+--------------------+--------------+
|      Starting_Time1|      Starting_Time2|Starting_Time3|
+--------------------+--------------------+--------------+
|       VPOWER_Horana|                   0|             0|
|                Bowa|                   0|             0|
|                null|                0:00|          0:30|
|       Uthuru_Janani|                   0|             0|
|    Total Generation|                1302|          1257|
|      Total NCRE ***|                 120|           121|
|       Mini Hydro***|                  60|            60|
|  Generation Summery|                null|          null|
|       Uthuru_Janani|                  20|            16|
|               SPS B|                  63|            63|
|    Total Generation|                1434|          1393|
|  Ace (Embilipitiya)|                   0|             0|
|                null|            7/4/2020|          null|
|                null|            7/3/2020|          null|
|Total Energy / (GWh)|               34.63|          null|
|                Polp|                  22|             6|
|             WCP_GT1|                  85|            85|
|                Wind|                  51|            49|
|Total Energy / (GWh)|               44.06|          null|
|             Remarks|                null|          null|
|              Kukule|                  75|            75|
|             WCP_GT1|                   0|             0|
|Rant 20MW X15 hrs...|                null|          null|
|                null|                null|          null|
|             WCP_GT2|                   0|             0|
|                Polp|                  19|            18|
|                Date|           03-Jul-20|          null|
|                Nlax|                  22|            22|
|Thermal Energy /(...|               32.03|        72.70%|
|3.    Day Ahead E...|                null|          null|
|                Nlax|                  20|            20|
| NCRE Energy / (GWh)|                2.58|         7.46%|
|                Rand|                   0|             0|
|Hydro Energy / (GWh)|                9.22|        20.92%|
|           Cany     |                   0|             0|
|       CEB_EMERGENCY|                   0|             0|
|               GT 07|                   0|             0|
|                Rant|                   0|             0|
|               Solar|                   0|             0|
|               SPS B|                  54|            27|
|            Note ***|Please note that ...|          null|
|      Total NCRE ***|                 111|           109|
|       Total Thermal|                1168|          1158|
|            4. Other|                null|          null|
|         VPOWER_Hamb|                   0|             0|
| NCRE Energy / (GWh)|                2.81|         6.37%|
|1. Frequency Control|                null|          null|
|            PCCP III|                 229|           259|
|       ALTAAQ_Mahiya|                   0|             0|
|            WPS     |                  23|            23|
|                Wind|                  59|            59|
|             PCCP II|                 270|           270|
|          KCCP ST(N)|                   0|             0|
|          Sojitz CCP|                   0|             0|
|                null|            Off Peak|      Day Peak|
|       Total Thermal|                 942|           897|
|Hydro Energy / (GWh)|               10.78|        31.12%|
|          Asia Power|                   0|             0|
|            PCCP III|                 270|           270|
|              WCP_ST|                  50|            50|
|  Ace (Embilipitiya)|                  67|            31|
|          KCCP GT(N)|                   0|             0|
|         Olax       |                  10|            10|
|      NORTHERN_Power|                   0|             0|
|         Total Hydro|                 155|           126|
|               Day 1|            Kothmale|      Kothmale|
|           Cany     |                  11|            11|
|       Mini Hydro***|                  61|            62|
|        VPOWER_Palle|                   0|             0|
|                Koth|                  40|            40|
|          KCCP ST(D)|                   0|             0|
|         Total Hydro|                 240|           239|
|                 Uku|                  40|            40|
|        ALTAAQ_Polon|                   0|             0|
|            WPS     |                  23|            10|
|                 KPS|                   0|             0|
|2. Irrigation Req...|                null|          null|
|3. Other water Re...|                null|          null|
|Thermal Energy /(...|               21.27|        61.42%|
|          KCCP GT(D)|                   0|             0|
|              WCP_ST|                   0|             0|
|                UKPS|                   0|             0|
|               SPS A|                  54|            54|
|               SPS A|                  18|             0|
|              PCCP I|                 270|           270|
|               Barge|                  60|            60|
|        ACE (Matara)|                   0|             0|
|              Kukule|                   0|             0|
|                Date|           04-Jul-20|          null|
|                Sama|                   0|             0|
|            Victoria|                   0|             0|
+--------------------+--------------------+--------------+