In [1]:
#Testing Pyspark Installation
import findspark

findspark.init()
findspark.find()

import pyspark
findspark.find()

'C:\\spark'

In [2]:
#intialize Spark Context
from pyspark import SparkContext, SparkConf
from pyspark.sql import SparkSession
spark= SparkSession.builder.appName('Inter1').getOrCreate()

In [3]:
intern2=spark.read.option('header','true').csv('/Users/Asus/Documents/InternCsv/Dispatch_headerNew.csv')

In [4]:
intern2.dtypes

[('_c0', 'string'),
 ('Time_TimeUnnamed: 0', 'string'),
 ('Time_TimeActual System Dispatch', 'string'),
 ('Time_TimeCourses_List', 'string'),
 ('Time_TimeInitial Time', 'string'),
 ('Time_TimeUnnamed: 3', 'string'),
 ('Time_TimeUnnamed: 4', 'string'),
 ('Time_TimeUnnamed: 5', 'string'),
 ('Time_TimeUnnamed: 6', 'string'),
 ('Time_TimeUnnamed: 7', 'string'),
 ('Time_Time7/1/2020 0:00', 'string'),
 ('Time_TimeUnnamed: 9', 'string'),
 ('Time_TimeUnnamed: 10', 'string'),
 ('Time_TimeUnnamed: 11', 'string'),
 ('Time_TimeUnnamed: 12', 'string'),
 ('Time_TimeUnnamed: 13', 'string'),
 ('Time_TimeUnnamed: 14', 'string'),
 ('Time_TimeUnnamed: 15', 'string'),
 ('Time_TimeUnnamed: 16', 'string'),
 ('Time_TimeUnnamed: 17', 'string'),
 ('Time_TimeUnnamed: 18', 'string'),
 ('Time_TimeUnnamed: 19', 'string'),
 ('Time_TimeUnnamed: 20', 'string'),
 ('Time_TimeUnnamed: 21', 'string'),
 ('Time_TimeUnnamed: 22', 'string'),
 ('Time_TimeUnnamed: 23', 'string'),
 ('Time_TimeUnnamed: 24', 'string'),
 ('Time_TimeUnnamed: 25', 'string'),
 ('Time_TimeUnnamed: 26', 'string'),
 ('Time_TimeUnnamed: 27', 'string'),
 ('Time_TimeUnnamed: 28', 'string'),
 ('Time_TimeUnnamed: 29', 'string'),
 ('Time_TimeUnnamed: 30', 'string'),
 ('Time_TimeUnnamed: 31', 'string'),
 ('Time_TimeUnnamed: 32', 'string'),
 ('Time_TimeUnnamed: 33', 'string'),
 ('Time_TimeUnnamed: 34', 'string'),
 ('Time_TimeUnnamed: 35', 'string'),
 ('Time_TimeUnnamed: 36', 'string'),
 ('Time_TimeUnnamed: 37', 'string'),
 ('Time_TimeUnnamed: 38', 'string'),
 ('Time_TimeUnnamed: 39', 'string'),
 ('Time_TimeUnnamed: 40', 'string'),
 ('Time_TimeUnnamed: 41', 'string'),
 ('Time_TimeUnnamed: 42', 'string'),
 ('Time_TimeUnnamed: 43', 'string'),
 ('Time_TimeUnnamed: 44', 'string'),
 ('Time_TimeUnnamed: 45', 'string'),
 ('Time_TimeUnnamed: 46', 'string'),
 ('Time_TimeUnnamed: 47', 'string'),
 ('Time_TimeUnnamed: 48', 'string'),
 ('Time_TimeUnnamed: 49', 'string'),
 ('Time_TimeUnnamed: 50', 'string'),
 ('Time_TimeUnnamed: 51', 'string'),
 ('Time_TimeUnnamed: 52', 'string'),
 ('Time_TimeUnnamed: 53', 'string'),
 ('Time_TimeUnnamed: 54', 'string'),
 ('Time_TimeUnnamed: 55', 'string'),
 ('Time_TimeUnnamed: 56', 'string'),
 ('Time_TimeUnnamed: 57', 'string'),
 ('Time_TimeUnnamed: 58', 'string'),
 ('Time_TimeUnnamed: 59', 'string'),
 ('Time_TimeUnnamed: 60', 'string'),
 ('Time_TimeUnnamed: 61', 'string'),
 ('Time_TimeUnnamed: 62', 'string'),
 ('Time_TimeUnnamed: 63', 'string'),
 ('Time_TimeUnnamed: 64', 'string'),
 ('Time_TimeUnnamed: 65', 'string'),
 ('Time_TimeUnnamed: 66', 'string'),
 ('Time_TimeUnnamed: 67', 'string'),
 ('Time_TimeUnnamed: 68', 'string'),
 ('Time_TimeUnnamed: 69', 'string'),
 ('Time_TimeUnnamed: 70', 'string'),
 ('Time_TimeUnnamed: 71', 'string'),
 ('Time_TimeUnnamed: 72', 'string'),
 ('Time_TimeUnnamed: 73', 'string'),
 ('Time_TimeUnnamed: 74', 'string'),
 ('Time_TimeUnnamed: 75', 'string'),
 ('Time_TimeUnnamed: 76', 'string'),
 ('Time_TimeUnnamed: 77', 'string'),
 ('Time_TimeUnnamed: 78', 'string'),
 ('Time_TimeUnnamed: 79', 'string'),
 ('Time_TimeUnnamed: 80', 'string'),
 ('Time_TimeUnnamed: 81', 'string'),
 ('Time_TimeUnnamed: 82', 'string'),
 ('Time_TimeUnnamed: 83', 'string'),
 ('Time_TimeUnnamed: 84', 'string'),
 ('Time_TimeUnnamed: 85', 'string'),
 ('Time_TimeUnnamed: 86', 'string'),
 ('Time_TimeUnnamed: 87', 'string'),
 ('Time_TimeUnnamed: 88', 'string'),
 ('Time_TimeUnnamed: 89', 'string'),
 ('Time_TimeUnnamed: 90', 'string'),
 ('Time_TimeUnnamed: 91', 'string'),
 ('Time_TimeUnnamed: 92', 'string'),
 ('Time_TimeUnnamed: 93', 'string'),
 ('Time_TimeUnnamed: 94', 'string'),
 ('Time_TimeUnnamed: 95', 'string'),
 ('Time_TimeUnnamed: 96', 'string'),
 ('Time_TimeUnnamed: 97', 'string')]

## UDF Functions in Pyspark

In [8]:
#Udf Approch
#Example for Get a brief Understanding
import pyspark
from pyspark import SQLContext
from pyspark.sql.types import StructType, StructField, IntegerType, FloatType, StringType
from pyspark.sql.functions import udf
from pyspark.sql import Row


conf = pyspark.SparkConf() 

 
sc = pyspark.SparkContext.getOrCreate(conf=conf)
spark = SQLContext(sc)

schema = StructType([
    StructField("sales", FloatType(),True),    
    StructField("employee", StringType(),True),
    StructField("ID", IntegerType(),True)
])

data = [[ 10.2, "Fred",123]]

exam = spark.createDataFrame(data,schema=schema)

colsInt = udf(lambda z: toInt(z), IntegerType())
spark.udf.register("colsInt", colsInt)

def toInt(s):
    if isinstance(s, str) == True:
        st = [str(ord(i)) for i in s]
        return(int(''.join(st)))
    else:
         return Null


inter = exam.withColumn( 'semployee',colsInt('employee'))

In [6]:
inter.show()

+-----+--------+---+----------+
|sales|employee| ID| semployee|
+-----+--------+---+----------+
| 10.2|    Fred|123|1394624364|
+-----+--------+---+----------+

## 1)Using Sql in Pyspark

In [7]:
spark.registerDataFrameAsTable(intern2, "Inter")

In [9]:
Salp = spark.sql("select Time_TimeCourses_List from Inter")

In [10]:
Salp.show(5)

+---------------------+
|Time_TimeCourses_List|
+---------------------+
|              0:15:00|
|                   10|
|                    0|
|                    5|
|                   46|
+---------------------+
only showing top 5 rows

## 2) RDD Map Fucntion

In [11]:
def tointern(rdd):
    s = rdd["Time_TimeCourses_List"]
    if isinstance(s, str) == True:
        st = [str(ord(i)) for i in s]
        e = int(''.join(st)) 
    else:
        e = s
    
    return Row(rdd["Time_TimeCourses_List"],rdd["Time_TimeActual System Dispatch"],e)

In [14]:
rdd = intern2.rdd.map(tointern)

In [15]:
for x in rdd.collect():
    print(x)

<Row('0:15:00', 'Time', 48584953584848)>
<Row('10', 'Canyon', 4948)>
<Row('0', 'WPS', 48)>
<Row('5', 'Olax', 53)>
<Row('46', 'Nlax', 5254)>
<Row('21', 'Polp', 5049)>
<Row('0', 'Upper Kothmale', 48)>
<Row('54', 'Koth', 5352)>
<Row('0', 'Vict', 48)>
<Row('0', 'Rand', 48)>
<Row('0', 'Rant', 48)>
<Row('36', 'Uku', 5154)>
<Row('0', 'Bowa', 48)>
<Row('0', 'Sam', 48)>
<Row('53', 'Kukule', 5351)>
<Row('274', 'LVPS 1', 505552)>
<Row('270', 'LVPS 2', 505548)>
<Row('270', 'LVPS 3', 505548)>
<Row('33', 'Sapu A', 5151)>
<Row('59', 'Sapu B', 5357)>
<Row('0', 'Uthuru Janani', 48)>
<Row('45', 'Barge', 5253)>
<Row('0', 'KCCP', 48)>
<Row('0', 'ACE EMBP', 48)>
<Row('0', 'ACE Matara', 48)>
<Row('0', 'Asia Power', 48)>
<Row('140', 'WCP', 495248)>
<Row('0', 'Sojitz CCP', 48)>
<Row('0', 'KPS(GT7)', 48)>
<Row('0', 'KPS(GT)', 48)>
<Row('0', 'CEB Sup Power', 48)>
<Row('0', 'VPOWER Hamb.', 48)>
<Row('0', 'VPOWER Palle.', 48)>
<Row('0', 'VPOWER Horona', 48)>
<Row('0', 'ALTAQQA-Pol.', 48)>
<Row('0', 'ALTAQQA-Mahi.', 48)>
<Row('0', 'Solar**', 48)>
<Row('51', 'Wind **', 5349)>
<Row('65', 'CEB/IPP Mini Hydro***', 5453)>
<Row('1434', 'Total MW', 49525152)>
<Row('0:15', 'Time', 48584953)>
<Row('814', 'Coal', 564952)>
<Row('137', 'Oil- CEB owned', 495155)>
<Row('140', 'Oil-IPP owned', 495248)>
<Row('225', 'Major Hydro', 505053)>
<Row('51', 'Wind', 5349)>
<Row('0', 'Solar', 48)>
<Row('1432', None, 49525150)>