In [1]:
#Testing Pyspark Installation
import findspark
findspark.init()
import pyspark

## Initializing PySpark

### Question 37

In [2]:
#intialize Spark Context
#from pyspark import SparkContext, SparkConf
from pyspark.sql import SparkSession
spark= SparkSession.builder.appName('Intern4').getOrCreate()
spark

## Importing Libraries

In [3]:
import os
import pandas as pd

In [4]:
#Importing Forcast sheets from the folders
xlpath=os.chdir('/Users/Asus/Documents/InternCsv/forcast_july')
files = os.listdir(xlpath)

In [5]:
#segregating excel files from the Given Data
files_xls = [f for f in files if f[-3:] == 'xls']

In [6]:
#Putting data into pandas data Frame
df = pd.DataFrame()

In [7]:
for f in files_xls:
    data = pd.read_excel(f, 'Day Ahead Dispatch',skiprows=2,skipfooter=30,usecols="A:AW")
    data['Date']="2020 - 07 - "+f[4:6]
    df = df.append(data)

In [8]:
#Listing out the DataFrame
df

,Unnamed: 0,00:00:00,00:30:00,01:00:00,01:30:00,02:00:00,02:30:00,03:00:00,03:30:00,04:00:00,...,19:30:00,20:00:00,20:30:00,21:00:00,21:30:00,22:00:00,22:30:00,23:00:00,23:30:00,Date
0,WPS,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.0000,0.0000,...,47.241,47.241,0.000,0.000,0.000,0.000,0.000,10.000,10.000,2020 - 07 - 10
1,Cany,28.065,11.040,11.040,0.000,0.000,0.000,0.000,0.0000,11.0400,...,30.000,30.000,30.000,30.000,30.000,30.000,30.000,30.000,19.700,2020 - 07 - 10
2,Olax,10.000,10.000,10.000,10.000,10.000,10.000,10.000,10.0000,10.0000,...,54.000,38.820,10.000,10.000,10.000,10.000,10.000,10.000,10.000,2020 - 07 - 10
3,Nlax,60.472,60.472,60.472,60.472,60.472,60.472,60.472,60.4720,60.4720,...,71.915,60.472,60.472,60.472,60.472,60.472,60.472,60.472,60.472,2020 - 07 - 10
4,Polp,78.479,43.419,28.770,28.770,15.620,15.620,15.620,7.2701,7.2701,...,78.479,78.479,65.290,38.314,38.314,38.314,38.314,38.314,38.314,2020 - 07 - 10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37,VPOWER_Galle,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.0000,0.0000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,2020 - 07 - 9.
38,ALTAAQ_Mahiya,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.0000,0.0000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,2020 - 07 - 9.
39,ALTAAQ_Polon,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.0000,0.0000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,2020 - 07 - 9.
40,VPOWER_Hamb,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.0000,0.0000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,2020 - 07 - 9.
41,VPOWER_Horana,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.0000,0.0000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,2020 - 07 - 9.

In [9]:
#Renaming the Unnamed Column into Plants and creating and Index
df = df.rename(columns={'Unnamed: 0': 'Plant'}, index={'ONE': 'Row_1'})
df.head()

,Plant,00:00:00,00:30:00,01:00:00,01:30:00,02:00:00,02:30:00,03:00:00,03:30:00,04:00:00,...,19:30:00,20:00:00,20:30:00,21:00:00,21:30:00,22:00:00,22:30:00,23:00:00,23:30:00,Date
0,WPS,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.0000,0.0000,...,47.241,47.241,0.000,0.000,0.000,0.000,0.000,10.000,10.000,2020 - 07 - 10
1,Cany,28.065,11.040,11.040,0.000,0.000,0.000,0.000,0.0000,11.0400,...,30.000,30.000,30.000,30.000,30.000,30.000,30.000,30.000,19.700,2020 - 07 - 10
2,Olax,10.000,10.000,10.000,10.000,10.000,10.000,10.000,10.0000,10.0000,...,54.000,38.820,10.000,10.000,10.000,10.000,10.000,10.000,10.000,2020 - 07 - 10
3,Nlax,60.472,60.472,60.472,60.472,60.472,60.472,60.472,60.4720,60.4720,...,71.915,60.472,60.472,60.472,60.472,60.472,60.472,60.472,60.472,2020 - 07 - 10
4,Polp,78.479,43.419,28.770,28.770,15.620,15.620,15.620,7.2701,7.2701,...,78.479,78.479,65.290,38.314,38.314,38.314,38.314,38.314,38.314,2020 - 07 - 10

In [10]:
#We can Also Use df.rename function for index name Change

df.replace('Cany     ','Canyon',inplace=True)
df.replace('Olax       ','Olax',inplace=True)
df.replace('ACE (Matara)','ACE Matara',inplace=True)
df.replace('Ace (Embilipitiya)','ACE EMBP',inplace=True)
df.replace('Victoria','Vict',inplace=True)
df.replace('GT 07','KPS(GT7)',inplace=True)
df.replace('KPS','KPS(GT)',inplace=True)
df.replace('Sama','Sam',inplace=True)
df.replace('VPOWER_Palle','VPOWER Palle.',inplace=True)   
df.replace('Uthuru_Janani','Uthuru Janani',inplace=True)
df.replace('SPS A','Sapu A',inplace=True)
df.replace('SPS B','Sapu B',inplace=True)
df.replace('ALTAAQ_Polon','ALTAQQA-Pol.',inplace=True)
df.replace('ALTAAQ_Mahiya','ALTAQQA-Mahi.',inplace=True)
df.replace('VPOWER_Horana','VPOWER Horona',inplace=True)
df.replace('WPS     ','WPS',inplace=True)
df.replace('VPOWER_Hamb','VPOWER Hamb.',inplace=True)
df.replace('VPOWER_Galle','VPOWER Galle',inplace=True)
df.replace('UKPS','Upper Kothmale',inplace=True)
df.replace('PCCP I','LVPS 1',inplace=True)
df.replace('PCCP II','LVPS 2',inplace=True)
df.replace('PCCP III','LVPS 3',inplace=True)
df.replace('KCCP GT(N)','KCCP',inplace=True)
df.replace('KCCP ST(N)','KCCP',inplace=True)
df.replace('KCCP GT(D)','KCCP',inplace=True)
df.replace('KCCP ST(D)','KCCP',inplace=True)
df.replace('WCP_GT1','WCP',inplace=True)
df.replace('WCP_GT2','WCP',inplace=True)
df.replace('WCP_ST','WCP',inplace=True)

In [11]:
#Renaming the Columns
df.columns = ['Plant','00:00','00:30','01:00','01:30','02:00','02:30','03:00','03:30','04:00','04:30','05:00','05:30','06:00','06:30','07:00','07:30','08:00','08:30','09:00','09:30','10:00','10:30','11:00','11:30','12:00','12:30','13:00','13:30','14:00','14:30','15:00','15:30','16:00','16:30','17:00','17:30','18:00','18:30','19:00','19:30','20:00','20:30','21:00','21:30','22:00','22:30','23:00','23:30',"Date"]
df.head(10)

,Plant,00:00,00:30,01:00,01:30,02:00,02:30,03:00,03:30,04:00,...,19:30,20:00,20:30,21:00,21:30,22:00,22:30,23:00,23:30,Date
0,WPS,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.0000,0.0000,...,47.241,47.241,0.000,0.000,0.000,0.000,0.000,10.000,10.000,2020 - 07 - 10
1,Canyon,28.065,11.040,11.040,0.000,0.000,0.000,0.000,0.0000,11.0400,...,30.000,30.000,30.000,30.000,30.000,30.000,30.000,30.000,19.700,2020 - 07 - 10
2,Olax,10.000,10.000,10.000,10.000,10.000,10.000,10.000,10.0000,10.0000,...,54.000,38.820,10.000,10.000,10.000,10.000,10.000,10.000,10.000,2020 - 07 - 10
3,Nlax,60.472,60.472,60.472,60.472,60.472,60.472,60.472,60.4720,60.4720,...,71.915,60.472,60.472,60.472,60.472,60.472,60.472,60.472,60.472,2020 - 07 - 10
4,Polp,78.479,43.419,28.770,28.770,15.620,15.620,15.620,7.2701,7.2701,...,78.479,78.479,65.290,38.314,38.314,38.314,38.314,38.314,38.314,2020 - 07 - 10
5,Upper Kothmale,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.0000,0.0000,...,150.000,150.000,150.000,144.950,88.200,88.200,88.200,61.659,61.659,2020 - 07 - 10
6,Koth,32.986,30.986,29.586,27.486,26.636,26.386,26.286,25.6360,27.1860,...,38.989,69.286,64.536,59.436,54.186,47.036,39.786,35.836,33.136,2020 - 07 - 10
7,Vict,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.0000,0.0000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,2020 - 07 - 10
8,Rand,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.0000,0.0000,...,96.673,43.000,43.000,43.000,0.000,0.000,0.000,0.000,0.000,2020 - 07 - 10
9,Rant,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.0000,0.0000,...,40.000,20.000,20.000,20.000,20.000,0.000,0.000,0.000,0.000,2020 - 07 - 10

In [12]:
#df.describe()
df.shape

(1130, 50)

In [13]:
df_Forcast = pd.melt(df,id_vars=['Plant',"Date"],var_name='Time',value_name='Dispatch').sort_values(["Date","Time"])
df_Forcast

               Plant            Date   Time  Dispatch
0                WPS  2020 - 07 - 10  00:00     0.000
1             Canyon  2020 - 07 - 10  00:00    28.065
2               Olax  2020 - 07 - 10  00:00    10.000
3               Nlax  2020 - 07 - 10  00:00    60.472
4               Polp  2020 - 07 - 10  00:00    78.479
...              ...             ...    ...       ...
54235   VPOWER Galle  2020 - 07 - 9.  23:30     0.000
54236  ALTAQQA-Mahi.  2020 - 07 - 9.  23:30     0.000
54237   ALTAQQA-Pol.  2020 - 07 - 9.  23:30     0.000
54238   VPOWER Hamb.  2020 - 07 - 9.  23:30     0.000
54239  VPOWER Horona  2020 - 07 - 9.  23:30     0.000

[54240 rows x 4 columns]

### Creating Datafarme from PytSpark

In [14]:
import pyspark
from pyspark.sql import SparkSession

#main1.printSchema()
from pyspark.sql.functions import col
df_final = spark.createDataFrame(df_Forcast)
df_final
#df_final.show(3)

DataFrame[Plant: string, Date: string, Time: string, Dispatch: double]

In [15]:
df_final.head()

Row(Plant='WPS', Date='2020 - 07 - 10', Time='00:00', Dispatch=0.0)

In [16]:
from pyspark.sql.functions import col

In [17]:
df_final_new = df_final.groupBy(["Plant","Date","Time"]).sum("Dispatch").sort(col("Date").asc(),col("Time").asc())

In [18]:
df_final_new.show(6)
df_final_new.printSchema()

root
 |-- Plant: string (nullable = true)
 |-- Date: string (nullable = true)
 |-- Time: string (nullable = true)
 |-- sum(Dispatch): double (nullable = true)

In [27]:
#df_final_new.describe()
df_final_new.groupBy("Plant").sum().show(6)

+--------------+------------------+
|         Plant|sum(sum(Dispatch))|
+--------------+------------------+
|        LVPS 3|          346298.0|
|       KPS(GT)|               0.0|
|          Olax|32299.994999999995|
|Upper Kothmale|40912.630000000034|
|  VPOWER Hamb.|        1551.18005|
|          Vict|        20362.7993|
+--------------+------------------+
only showing top 6 rows

In [20]:
# drop Northern power plant cuz the sum is zero here
new = df_final_new.where(df_final_new.Plant != "NORTHERN_Power" )

In [25]:
new.show()
#### Change "CEB_EMERGENCY" into "CEB Sup Power"
from pyspark.sql import functions as F
res = new.withColumn("Plant", F.when(F.col("Plant")=="CEB_EMERGENCY", "CEB Sup Power").otherwise(F.col("Plant")))

+--------------+--------------+-----+-------------+
|         Plant|          Date| Time|sum(Dispatch)|
+--------------+--------------+-----+-------------+
|          Rant|2020 - 07 - 10|00:00|          0.0|
|          Koth|2020 - 07 - 10|00:00|       32.986|
|          KCCP|2020 - 07 - 10|00:00|          0.0|
|          Rand|2020 - 07 - 10|00:00|          0.0|
|        LVPS 3|2020 - 07 - 10|00:00|        270.0|
|          Bowa|2020 - 07 - 10|00:00|          0.0|
|         Barge|2020 - 07 - 10|00:00|         34.0|
|       KPS(GT)|2020 - 07 - 10|00:00|          0.0|
|  VPOWER Hamb.|2020 - 07 - 10|00:00|          0.0|
| CEB_EMERGENCY|2020 - 07 - 10|00:00|          0.0|
|           Uku|2020 - 07 - 10|00:00|         20.0|
|        LVPS 2|2020 - 07 - 10|00:00|        270.0|
| VPOWER Palle.|2020 - 07 - 10|00:00|          0.0|
|          Olax|2020 - 07 - 10|00:00|         10.0|
| Uthuru Janani|2020 - 07 - 10|00:00|          0.0|
|        Sapu A|2020 - 07 - 10|00:00|         33.0|
|           WPS|2020 - 07 - 10|00:00|          0.0|
|Upper Kothmale|2020 - 07 - 10|00:00|          0.0|
|        Kukule|2020 - 07 - 10|00:00|       74.999|
|  VPOWER Galle|2020 - 07 - 10|00:00|          0.0|
+--------------+--------------+-----+-------------+
only showing top 20 rows

In [22]:
res.groupBy("Plant").sum()

DataFrame[Plant: string, sum(sum(Dispatch)): double]

In [23]:
pandasDF = res.toPandas()

In [24]:
pandasDF.to_csv(r'/Users/Asus/Documents/InternCsv/forcast_july/final_dispatch(For).csv',index=True,header=True)