In [37]:
#Testing Pyspark Installation
import findspark

findspark.init()
findspark.find()

import pyspark
findspark.find()

'C:\\spark'

In [2]:
#import pyspark

#from pyspark.sql import SparkSession

#spark = SparkSession.builder.getOrCreate()

#df = spark.sql("select 'spark' as hello ")

#df.show()

In [3]:
#Terminating the Session
#spark.close()

In [4]:
#intialize Spark Context
from pyspark import SparkContext, SparkConf
from pyspark.sql import SparkSession
conf = pyspark.SparkConf().setAppName('SparkApp').setMaster('local');

In [5]:
sc = pyspark.SparkContext(conf=conf)
spark = SparkSession(sc)

In [6]:
#Example Test Code
numv= sc.parallelize([1,2,3,4])
numv.map(lambda x:x*x*x).collect()

[1, 8, 27, 64]

In [7]:
#Terminating the Session
sc.stop()

In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
dt=pd.read_csv('/Users/Asus/Documents/Atmel Studio/wine.csv')

In [9]:
dt.shape

(178, 14)

In [11]:
spark= SparkSession.builder.appName('Wine').getOrCreate()

In [12]:
spark

In [14]:
df_pyspark=spark.read.csv('salary.csv')

In [15]:
df_pyspark

DataFrame[_c0: string, _c1: string, _c2: string, _c3: string, _c4: string, _c5: string, _c6: string]

In [16]:
df_pyspark.show()

+------+-----------+---------+-----------+------+--------+-----+
|   _c0|        _c1|      _c2|        _c3|   _c4|     _c5|  _c6|
+------+-----------+---------+-----------+------+--------+-----+
|salary|yearsworked|yearsrank|     market|degree|position|Field|
| 53000|          0|        0|1.169999957|     1|       1|    3|
| 58000|          0|        0| 1.24000001|     1|       1|    2|
| 45500|          0|        0|1.210000038|     1|       1|    3|
| 35782|          2|        1| 0.99000001|     1|       1|    4|
| 34731|          2|        2|0.910000026|     1|       1|    4|
| 56000|          0|        0|1.190000057|     1|       1|    1|
| 61008|          2|        2|1.330000043|     1|       1|    2|
| 39986|          2|        0| 0.99000001|     1|       1|    4|
| 36308|          2|        1|0.850000024|     1|       1|    1|
| 55000|          0|        0|1.230000019|     1|       1|    1|
| 55227|          3|        3|1.230000019|     1|       1|    1|
| 55227|          3|        3|1.230000019|     1|       1|    2|
| 33680|          3|        1|1.049999952|     1|       1|    4|
| 61008|          3|        3| 1.24000001|     1|       1|    4|
| 37000|          0|        0| 0.99000001|     1|       1|    1|
| 46292|          2|        2|1.139999986|     1|       1|    2|
| 33680|          2|        1|0.850000024|     1|       1|    3|
| 39754|          1|        0|0.879999995|     1|       1|    3|
| 34000|          3|        3|0.730000019|     1|       1|    3|
+------+-----------+---------+-----------+------+--------+-----+
only showing top 20 rows

In [18]:
spark.read.option('header','true').csv('salary.csv').show()

+------+-----------+---------+-----------+------+--------+-----+
|salary|yearsworked|yearsrank|     market|degree|position|Field|
+------+-----------+---------+-----------+------+--------+-----+
| 53000|          0|        0|1.169999957|     1|       1|    3|
| 58000|          0|        0| 1.24000001|     1|       1|    2|
| 45500|          0|        0|1.210000038|     1|       1|    3|
| 35782|          2|        1| 0.99000001|     1|       1|    4|
| 34731|          2|        2|0.910000026|     1|       1|    4|
| 56000|          0|        0|1.190000057|     1|       1|    1|
| 61008|          2|        2|1.330000043|     1|       1|    2|
| 39986|          2|        0| 0.99000001|     1|       1|    4|
| 36308|          2|        1|0.850000024|     1|       1|    1|
| 55000|          0|        0|1.230000019|     1|       1|    1|
| 55227|          3|        3|1.230000019|     1|       1|    1|
| 55227|          3|        3|1.230000019|     1|       1|    2|
| 33680|          3|        1|1.049999952|     1|       1|    4|
| 61008|          3|        3| 1.24000001|     1|       1|    4|
| 37000|          0|        0| 0.99000001|     1|       1|    1|
| 46292|          2|        2|1.139999986|     1|       1|    2|
| 33680|          2|        1|0.850000024|     1|       1|    3|
| 39754|          1|        0|0.879999995|     1|       1|    3|
| 34000|          3|        3|0.730000019|     1|       1|    3|
| 42614|          2|        2|0.879999995|     1|       1|    2|
+------+-----------+---------+-----------+------+--------+-----+
only showing top 20 rows

In [19]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [21]:
#df_pyspark.head(5)
df_pyspark.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)
 |-- _c4: string (nullable = true)
 |-- _c5: string (nullable = true)
 |-- _c6: string (nullable = true)

# Data Manipulation Section

-> Dataframe

-> Reading Dataset

-> Checking Datatypes(Schema)

-> Indexing and Pandas Data Manipulation

-> Columns adding & Dropping

In [22]:
df_pyspark.show(5)

+------+-----------+---------+-----------+------+--------+-----+
|   _c0|        _c1|      _c2|        _c3|   _c4|     _c5|  _c6|
+------+-----------+---------+-----------+------+--------+-----+
|salary|yearsworked|yearsrank|     market|degree|position|Field|
| 53000|          0|        0|1.169999957|     1|       1|    3|
| 58000|          0|        0| 1.24000001|     1|       1|    2|
| 45500|          0|        0|1.210000038|     1|       1|    3|
| 35782|          2|        1| 0.99000001|     1|       1|    4|
+------+-----------+---------+-----------+------+--------+-----+
only showing top 5 rows

In [24]:
sal=spark.read.option('header','true').csv('salary.csv')

In [27]:
#sal.select('salary')
sal.select('salary').show(5)

+------+
|salary|
+------+
| 53000|
| 58000|
| 45500|
| 35782|
| 34731|
+------+
only showing top 5 rows

In [28]:
sal.dtypes

[('salary', 'string'),
 ('yearsworked', 'string'),
 ('yearsrank', 'string'),
 ('market', 'string'),
 ('degree', 'string'),
 ('position', 'string'),
 ('Field', 'string')]

In [29]:
sal.describe().show()

+-------+------------------+------------------+-----------------+-------------------+-------------------+------------------+------------------+
|summary|            salary|       yearsworked|        yearsrank|             market|             degree|          position|             Field|
+-------+------------------+------------------+-----------------+-------------------+-------------------+------------------+------------------+
|  count|               510|               510|              509|                510|                510|               510|               510|
|   mean| 50826.04509803921|12.766666666666667|7.013752455795678| 0.9487254950529409| 0.9647058823529412| 2.127450980392157|2.5274509803921568|
| stddev|12663.101214834256| 9.407938099266667|6.408180016789294|0.14988320243137238|0.18470337225322933|0.8205557634028625|1.1292813632553642|
|    min|             29000|                 0|                0|        0.709999979|                  0|                 1|                 1|
|    max|             96156|                 9|                9|        1.330000043|                  1|                 3|                 4|
+-------+------------------+------------------+-----------------+-------------------+-------------------+------------------+------------------+

In [30]:
#Adding Column in DataFarme
sal.withColumn('Premiere Salary',sal['salary']+20000).show(5)

+------+-----------+---------+-----------+------+--------+-----+---------------+
|salary|yearsworked|yearsrank|     market|degree|position|Field|Premiere Salary|
+------+-----------+---------+-----------+------+--------+-----+---------------+
| 53000|          0|        0|1.169999957|     1|       1|    3|        73000.0|
| 58000|          0|        0| 1.24000001|     1|       1|    2|        78000.0|
| 45500|          0|        0|1.210000038|     1|       1|    3|        65500.0|
| 35782|          2|        1| 0.99000001|     1|       1|    4|        55782.0|
| 34731|          2|        2|0.910000026|     1|       1|    4|        54731.0|
+------+-----------+---------+-----------+------+--------+-----+---------------+
only showing top 5 rows

In [31]:
#Dropping the Column
sal=sal.drop('Premiere Salary')

In [36]:
#Column Rename
sal.withColumnRenamed('yearsrank','Rank').show(5)

+------+-----------+----+-----------+------+--------+-----+
|salary|yearsworked|Rank|     market|degree|position|Field|
+------+-----------+----+-----------+------+--------+-----+
| 53000|          0|   0|1.169999957|     1|       1|    3|
| 58000|          0|   0| 1.24000001|     1|       1|    2|
| 45500|          0|   0|1.210000038|     1|       1|    3|
| 35782|          2|   1| 0.99000001|     1|       1|    4|
| 34731|          2|   2|0.910000026|     1|       1|    4|
+------+-----------+----+-----------+------+--------+-----+
only showing top 5 rows

# Pyspark Handling Missing Values

--> Dropping Columns

--> Dropping Rows

-->Various Parameter in Dropping Functionalities

--> Handling Missing values by Mean, Median and Mode

In [38]:
sal1=spark.read.csv('salary.csv',header=True,inferSchema=True)

In [39]:
sal1.show(5)

+------+-----------+---------+-----------+------+--------+-----+
|salary|yearsworked|yearsrank|     market|degree|position|Field|
+------+-----------+---------+-----------+------+--------+-----+
| 53000|          0|        0|1.169999957|     1|       1|    3|
| 58000|          0|        0| 1.24000001|     1|       1|    2|
| 45500|          0|        0|1.210000038|     1|       1|    3|
| 35782|          2|        1| 0.99000001|     1|       1|    4|
| 34731|          2|        2|0.910000026|     1|       1|    4|
+------+-----------+---------+-----------+------+--------+-----+
only showing top 5 rows

In [40]:
#Dropping the Columns
sal1.drop('yearsworked').show(5)

+------+---------+-----------+------+--------+-----+
|salary|yearsrank|     market|degree|position|Field|
+------+---------+-----------+------+--------+-----+
| 53000|        0|1.169999957|     1|       1|    3|
| 58000|        0| 1.24000001|     1|       1|    2|
| 45500|        0|1.210000038|     1|       1|    3|
| 35782|        1| 0.99000001|     1|       1|    4|
| 34731|        2|0.910000026|     1|       1|    4|
+------+---------+-----------+------+--------+-----+
only showing top 5 rows

In [41]:
#Dropping data which don't have any data 
sal1.na.drop().show()

+------+-----------+---------+-----------+------+--------+-----+
|salary|yearsworked|yearsrank|     market|degree|position|Field|
+------+-----------+---------+-----------+------+--------+-----+
| 53000|          0|        0|1.169999957|     1|       1|    3|
| 58000|          0|        0| 1.24000001|     1|       1|    2|
| 45500|          0|        0|1.210000038|     1|       1|    3|
| 35782|          2|        1| 0.99000001|     1|       1|    4|
| 34731|          2|        2|0.910000026|     1|       1|    4|
| 56000|          0|        0|1.190000057|     1|       1|    1|
| 61008|          2|        2|1.330000043|     1|       1|    2|
| 39986|          2|        0| 0.99000001|     1|       1|    4|
| 36308|          2|        1|0.850000024|     1|       1|    1|
| 55000|          0|        0|1.230000019|     1|       1|    1|
| 55227|          3|        3|1.230000019|     1|       1|    1|
| 55227|          3|        3|1.230000019|     1|       1|    2|
| 33680|          3|        1|1.049999952|     1|       1|    4|
| 61008|          3|        3| 1.24000001|     1|       1|    4|
| 37000|          0|        0| 0.99000001|     1|       1|    1|
| 46292|          2|        2|1.139999986|     1|       1|    2|
| 33680|          2|        1|0.850000024|     1|       1|    3|
| 39754|          1|        0|0.879999995|     1|       1|    3|
| 34000|          3|        3|0.730000019|     1|       1|    3|
| 42614|          2|        2|0.879999995|     1|       1|    2|
+------+-----------+---------+-----------+------+--------+-----+
only showing top 20 rows

In [42]:
#Thershold 
sal1.na.drop(how="any",thresh=3).show()

+------+-----------+---------+-----------+------+--------+-----+
|salary|yearsworked|yearsrank|     market|degree|position|Field|
+------+-----------+---------+-----------+------+--------+-----+
| 53000|          0|        0|1.169999957|     1|       1|    3|
| 58000|          0|        0| 1.24000001|     1|       1|    2|
| 45500|          0|        0|1.210000038|     1|       1|    3|
| 35782|          2|        1| 0.99000001|     1|       1|    4|
| 34731|          2|        2|0.910000026|     1|       1|    4|
| 56000|          0|        0|1.190000057|     1|       1|    1|
| 61008|          2|        2|1.330000043|     1|       1|    2|
| 39986|          2|        0| 0.99000001|     1|       1|    4|
| 36308|          2|        1|0.850000024|     1|       1|    1|
| 55000|          0|        0|1.230000019|     1|       1|    1|
| 55227|          3|        3|1.230000019|     1|       1|    1|
| 55227|          3|        3|1.230000019|     1|       1|    2|
| 33680|          3|        1|1.049999952|     1|       1|    4|
| 61008|          3|        3| 1.24000001|     1|       1|    4|
| 37000|          0|        0| 0.99000001|     1|       1|    1|
| 46292|          2|        2|1.139999986|     1|       1|    2|
| 33680|          2|        1|0.850000024|     1|       1|    3|
| 39754|          1|        0|0.879999995|     1|       1|    3|
| 34000|          3|        3|0.730000019|     1|       1|    3|
| 42614|          2|        2|0.879999995|     1|       1|    2|
+------+-----------+---------+-----------+------+--------+-----+
only showing top 20 rows

In [43]:
#Subset elimination of Null (is you select "market" all the null rows in market field will be eliminated)
sal1.na.drop(how="any",subset=['yearsrank']).show()
#sal1.na.fill(missing Values').show()

+------+-----------+---------+-----------+------+--------+-----+
|salary|yearsworked|yearsrank|     market|degree|position|Field|
+------+-----------+---------+-----------+------+--------+-----+
| 53000|          0|        0|1.169999957|     1|       1|    3|
| 58000|          0|        0| 1.24000001|     1|       1|    2|
| 45500|          0|        0|1.210000038|     1|       1|    3|
| 35782|          2|        1| 0.99000001|     1|       1|    4|
| 34731|          2|        2|0.910000026|     1|       1|    4|
| 56000|          0|        0|1.190000057|     1|       1|    1|
| 61008|          2|        2|1.330000043|     1|       1|    2|
| 39986|          2|        0| 0.99000001|     1|       1|    4|
| 36308|          2|        1|0.850000024|     1|       1|    1|
| 55000|          0|        0|1.230000019|     1|       1|    1|
| 55227|          3|        3|1.230000019|     1|       1|    1|
| 55227|          3|        3|1.230000019|     1|       1|    2|
| 33680|          3|        1|1.049999952|     1|       1|    4|
| 61008|          3|        3| 1.24000001|     1|       1|    4|
| 37000|          0|        0| 0.99000001|     1|       1|    1|
| 46292|          2|        2|1.139999986|     1|       1|    2|
| 33680|          2|        1|0.850000024|     1|       1|    3|
| 39754|          1|        0|0.879999995|     1|       1|    3|
| 34000|          3|        3|0.730000019|     1|       1|    3|
| 42614|          2|        2|0.879999995|     1|       1|    2|
+------+-----------+---------+-----------+------+--------+-----+
only showing top 20 rows

In [ ]:
#filling the Missing Value
#sal1.na.fill('Missing Values').show() In all columns
#sal1.na.fill('Missing Values',['yearsrank','salary']).show()

#from pyspark.ml.feature import Imputer

#imputer=Imputer(